@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('fonts/IRANSansWeb_Bold.woff') format('woff');   /* license by bankwp.com */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('fonts/IRANSansWeb_Medium.woff') format('woff');   /* license by bankwp.com */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/IRANSansWeb_Light.woff') format('woff');   /* license by bankwp.com */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src:url('fonts/IRANSansWeb_UltraLight.woff') format('woff');   /* license by bankwp.com */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/IRANSansWeb.woff') format('woff');   /* license by bankwp.com */
}
.ihc-dashboard-wrap .ihc-admin-header .ihc-top-menu-section .ihc-dashboard-menu .ihc-page-title{
	font-family: IRANSans !important;
	font-size: 13px !important;
}
.iump-payment-box.zarinpal-active{
	background-color:#ffd048 !important;
}

.iump-wrapper .ihc-admin-tables thead th, .iump-wrapper .ihc-admin-tables tfoot th, 
.wrap .widget-liquid-right #widgets-right .widgets-holder-wrap #sidebar-active #widget-mycred-hook_ihc_mycred .widget-inside h2, 
.iump-memberslist-box, 
.iump-switch-field, 
.ihc-magic-box-wrap .ihc-magic-feature .ihc-magic-box-desc, .ihc-magic-box-wrap .ihc-magic-feature .ihc-magic-box-title, 
.ihc-magic-box-wrap .ihc-magic-feature, 
.ihc-top-message, .ihc-memberslist-fields, .ihc-error-global-dashboard-message, #ihc_drip_content_empty_meta_box, .ihc-meta-drip-subtitle, .ihc-coupon-box-link, .ihc-coupon-box-bottom, .ihc-coupon-box-title, .ihc-coupon-box-wrap, .iump-sm-box-bottom, .iump-sm-box-title, .iump-sm-box, .ihc-special-button, .iump-payment-box-bottom, .iump-payment-box-title, .iump-payment-box-title, .iump-payment-box, .iump-special-line, .iump-register-select-template, .iump-page-title, .iump-labels-onbutton, .iump-labels-special, .ihc-dashboard-top-box h4, .ihc-dashboard-title, .indeed-add-new-like-wp, i.mce-i-ihc_btn_forms:after, i.mce-i-ihc_btn_locker:after, .ihc-stuffbox h3, .ihc-popup-shortcodevalue, .ihc-popup-wrapp .ihc-the-popup, .ihc-dashboard-wrap th, .ihc-dashboard-wrap .ihc-stuffbox h3{
font-family: IRANSans !important;
}

a.ihc-subtab-menu-item {
    font-family: IRANSans;
}
.ihc-subtab-menu .ihc-subtab-menu-item{
	float: right !important;
}
.ihc-user-list-wrap .box-title h3 {
    float: right !important;
}
.ihc-coupon-box-bottom-date {
    float: left !important;
    padding-left: 10px !important;
    padding-right: 0 !important;
    text-align: left !important;
}

.ihc-coupon-box-bottom-submitted {
    padding-right: 8px !important;
    padding-left: 0 !important;
    border-right: solid 1px rgba(255,255,255,0.3) !important;
    border-left: 0 !important;
}

.ihc-coupon-box-bottom-disccount {
    margin-left: 5px !important;
    margin-right: 0 !important;
}

.ihc-coupon-admin-box-wrap {
    float: right !important;
    padding-right: 0 !important;
    padding-left: 15px !important;
}

.ihc-coupon-box-content .ihc-coupon-box-levels span {
    float: right !important;
}

.ihc-coupon-box-content .ihc-coupon-box-levels {
    text-align: left !important;
}
.ihc-user-list-wrap .actions {
    float: left !important;
    margin-left: 10px !important;
    margin-right: 0 !important;
}

.ihc-user-list-wrap .ihc-column h4 i {
    float: left !important;
}

.ihc-user-list-wrap .ihc-column h4 {
    padding: 10px 10px 10px 10px !important;
}

.ihc-user-list-wrap .ihc-column {
    float: right !important;
}
.input-group-addon:first-child {
    border-left: 0 !important;
    border-right: 1px solid #ccc !important;
}

.input-group .form-control {
    float: right !important;
}

.ihc-ap-tabs-list .ihc-ap-tabs-list-item {
    float: right !important;
}

.iump-subscription-page-top .iump-subscription-page-top-title {
    text-align: right !important;
}

.iump-form-line-register .iump-form-checkbox input, .iump-form-line-register .iump-form-radiobox input, .iump-form-line-register .iump-form-paybox input {
    margin-left: 5px;
    margin-right: 0;
}
.ihc-dashboard-logo {
    right: 0;
    left: auto;
}

.ihc-dashboard-wrap .ihc-admin-header .ihc-top-menu-section {
    padding-left: 20px;
    margin-right: -20px;
    padding-right: 0;
    margin-left: 0;
}

.ihc-dashboard-wrap .ihc-admin-header .ihc-top-menu-section .ihc-dashboard-menu {
    left: 0;
    right: auto;
    padding-right: 200px;
    padding-left: 0;
}

.ihc-dashboard-wrap, .iump-wrapper, .ihc-footer-wrap {
    font-family: IRANSans;
}

.ihc-dashboard-wrap h1, .ihc-dashboard-wrap h2, .ihc-dashboard-wrap h3, .ihc-dashboard-wrap h4, .ihc-dashboard-wrap h5, .ihc-dashboard-wrap h6 {
    font-family: IRANSans;
}


.ihc-additional-help {
    left: 25px;
    right: initial;
}

.ihc-footer-text {
    margin-left: 10px;
    margin-right: 0;
}
.ihc-subtab-menu {
    margin-right: -20px;
    margin-left: 0;
    padding: 0px 20px 0px 0;
}

.ihc-subtab-menu .ihc-subtab-menu-item:first-child {
    margin-right: 180px;
    margin-left: 0;
}
.indeed-add-new-like-wp {
    margin-right: 0;
    margin-left: 10px;
}

.ihc-special-buttons-users div {
    float: left;
}

.ihc-special-button i {
    margin-left: 10px;
    margin-right: 0;
}

.ihc-special-button {
    margin-left: 10px;
    margin-right: 0;
}

#col-right {
    float: right;
}

.ihc-dashboard-wrap .ihc-not-set {
    margin-right: -20px;
    margin-left: 0;
    padding: 12px 15px 12px 19px;
}

.iump-wrapper {
    padding-right: 5px;
    padding-left: 0;
}
.ihc-sortable-off {
    float: right;
}

.indeed-add-new-like-wp i {
    margin-right: 0;
    margin-left: 10px;
}
#toplevel_page_ihc_manage a {
    font-family: IRANSans;
}
li#toplevel_page_ihc_manage span {
    padding: 4px 13px 4px 16px !important;
    margin: 0 -13px 0 0 !important;
}
.iump-sm-box-wrap {
    float: right;
}
.indeed-add-new-like-wp {
    padding: 0 0 0 16px;
}
.ihc-magic-box-wrap {
    float: right;
    padding-right: 0;
    padding-left: 20px;
}
.iump-payment-box-wrap {
    float: right;
    padding-right: 0px;
    padding-left: 20px;
}
input[type="checkbox"].iump-switch + div:before {
    float: right;
    content: "فعال" !important;
    font-family: IRANSans !important;
    font-size: 13px;
}

input[type="checkbox"].iump-switch + div:after {
    float: right;
    content: "غیرفعال" !important;
    font-family: IRANSans !important;
    font-size: 12px;
}

input[type="checkbox"].iump-switch:checked + div {
    padding-right: 2em;
    padding-left: 0;
}

.iump_label_shiwtch {
    margin: 10px -10px 10px 0 !important;
}
.iump-pagination-wrapper {
    float: left !important;
    margin-left: 20px;
    margin-right: 0 !important;
    margin-top: 10px;
}