/*@import url(http://fonts.googleapis.com/css?family=Oswald);*/
/*@import url(//fonts.googleapis.com/css?family=Oswald); */
/************************* SETTINGS **********************/
.clear{
	clear: both;
}
.ihc-clear{
	clear: both;
}
.ihc-pointer{
	cursor: pointer;
}
.ihc-dashboard-wrap{
	width: 100%;
	min-height:700px;
	margin-bottom:40px;
}
.ihc-dashboard-wrap .ihc-admin-header{
	height: 100px;
	width: 100%;
	position: relative;
	margin-bottom: 25px;
}
.ihc-dashboard-wrap .ihc-admin-header .ihc-top-menu-section{
	z-index: 1;
	position: absolute;
	height: 100px;
	width: 100%;
	padding-right: 20px;
	margin-left: -20px;
	background-color: #616f76;
	-webkit-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-sizing: content-box;
}
.ihc-dashboard-wrap .ihc-admin-header .ihc-top-menu-section .ihc-dashboard-menu{
	width: 100%;
	height: 100%;
	right: 0px;
	padding-left: 200px;
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	background: url("../images/dashboard-underline.jpg") 0 bottom repeat-x;
	z-index: 1;
}
.ihc-dashboard-wrap .ihc-admin-header .ihc-top-menu-section .ihc-dashboard-menu ul li{
	float: left;
	height: 100%;
	width: 8.2%;
	width:7.5%;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border-right: 1px solid rgba(255,255,255, 0.1);
	color: #FFF;
	z-index: 999996;
	position: relative;
}
.ihc-dashboard-wrap .ihc-admin-header .ihc-top-menu-section .ihc-dashboard-menu ul li a {
	text-decoration: none;
	color: #fff;
}
.ihc-dashboard-wrap .ihc-admin-header .ihc-top-menu-section .ihc-dashboard-menu .ihc-page-title{
	font-size: 8px;
	padding: 18px 1px;
	font-family: "Open Sans",sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	line-height: 15px;
}
@media screen and (max-width: 1280px) {
.ihc-dashboard-wrap .ihc-admin-header .ihc-top-menu-section .ihc-dashboard-menu .ihc-page-title div{
	/*display:none;*/
}
}
.ihc-dashboard-wrap .ihc-stuffbox{
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 0px;
	line-height: 1;
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);

}
.ihc-dashboard-wrap .ihc-stuffbox h3{
	background-color: #fff;
	font-weight: bold;
	color: #333;
	background-image: none;
	text-shadow: none;
	box-shadow: inset 0px -5px 10px 2px rgba(0,0,0,0.03);
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
	padding: 16px 12px;
	line-height: 1.4;
	border-bottom: 1px solid #ccc;
	margin: 0px;
}
.ihc-dashboard-wrap .ihc-sutffbox .ihc-stuffbox-inside{
	padding: 0 12px 12px;
	line-height: 1.4em;
	font-size: 13px;
	background-color: #fff;
}
.ihc-dashboard-wrap .ihc-sutffbox .ihc-stuffbox-inside .ihc-stuffbox-submit-wrap{
	margin-top: 20px;
}
.ihc-dashboard-wrap th{
  font-family: 'Oswald', arial, sans-serif !important;
  font-weight:400;
  font-size:12px;
  box-sizing: content-box;
}
.wp-list-table td{
	font-size:11px;
}
.ihc_frw_button{
	    display: inline-block;
    margin: 3px;
    background-color: #38cbcb;
    font-size: 9px;
	padding: 3px 8px;
	border-radius: 3px;
	color:#fff;
}
.ihc_frw_button a{
	color:#fff;
}
/************MANAGE TEMPLATES*************/
.ihc-manage-templates{
	width: 100%;
	margin-top:20px;
}
.ihc-manage-templates .ihc-template-preview .ihc-dashboard-preview{
	width: 100%;
}
.ihc-manage-templates .ihc-template-preview .ihc-dashboard-preview .ihc-preview-final-parent{
	padding: 5px;
}

.ihc-manage-templates .ihc-template-preview .ihc-dashboard-preview .ihc-preview-title{
	padding: 5px 0px;
	border-bottom: 1px solid #333;
	text-align: center;
}
.ihc-manage-templates .ihc-template-preview .ihc-dashboard-preview .ihc-preview-title h3{
	margin: 0px;
}


/****************** POPUP LOCKER ********************/
.ihc-popup-wrapp{
	position: fixed;
	z-index: 999991;
	top: 0px;
	height: auto;
	left: 0px;
	width: 100%;
	min-height: 100%;
    background-color: rgba(0,0,0,0.30);
}
.ihc-popup-wrapp .ihc-the-popup{
    width: 45%;
    min-width: 750px;
    height: auto;
    margin: 0 auto;
    margin-top: 5%;
	margin-bottom:6%;
	bottom:10px;
    font-family: "Open Sans",sans-serif;
}
.ihc-popup-wrapp .ihc-the-popup .ihc-popup-top{
	border-bottom: 1px solid #ddd;
  	background-color: #fafafa;
    padding:13px 9px;
}
.ihc-the-popup-locker .ihc-popup-top{
	background-color: #555f6e !important;
}
.ihc-popup-wrapp .ihc-the-popup .ihc-popup-top .title{
    float: left;
    margin: 5px 0px 5px 5px;
    font-size: 18px;
    color: #333;
	font-weight:bold;
	color: #d9534f;
	-webkit-animation-name: fadeInLeftTitle;
  	animation-name: fadeInLeftTitle;
  	-webkit-animation-duration: 1s;
  	animation-duration: 1s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}
.ihc-the-popup-locker .ihc-popup-top .title{
    color: #fff !important;
}
.ihc-popup-wrapp .ihc-the-popup .ihc-popup-top .close-bttn{
	background-size:25px;
    width: 25px;
    height: 25px;
    float: right;
    cursor: pointer;
	background: url(../images/close_bk.png);
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
	opacity:0.3;
}
.ihc-the-popup-locker .close-bttn{
	background: url(../images/close.png) !important;
}
.ihc-popup-wrapp .ihc-the-popup .ihc-popup-top .close-bttn:hover{
	opacity:0.8;
}
.ihc-popup-wrapp .ihc-the-popup .ihc-popup-content{
    padding: 25px 25px !important;
    background: #fff;
	min-height:250px;
	border: 1px solid #dd;
	border-top:none;
}
.ihc-the-popup-locker .ihc-popup-content{
	background-color: #fafafa !important;
}
.ihc-popup-content .row{
		margin-bottom: 15px;
}
.ihc-send-email textarea {
    width: 100%;
    min-height: 150px;
}
.ihc-the-popup .ihc-inside-item{
	padding: 0px 5px 20px 5px;
border-bottom: 1px solid #fafafa;
}
.ihc-popup-wrapp .ihc-the-popup .ihc-popup-content .ihc-popup-left-section{
	width: 30%;
	display: inline-block;
	background-color:#fafafa;
	padding:15px;
    box-sizing: border-box;
}
.ihc-popup-wrapp .ihc-the-popup .ihc-popup-content .ihc-popup-right-section{
	width: 69%;
	display: inline-block;
	vertical-align: top;
	padding:25px 20px;
    box-sizing: border-box;
	background-color:#fff;
	border-left:1px solid #ddd;
	height:100%;
	min-height:350px;
}

.ihc-popup-wrapp .ihc-the-popup .ihc-popup-content .ihc-popup-label{
	font-size: 14px;
	font-weight: 500;
	color: #333;
	margin-top: 15px;
}
.ihc-popup-wrapp .ihc-the-popup .ihc-popup-content .ihc-bttn-wrap{
	margin-top: 25px;
	text-align: center;
}
.ihc-popup-shortcodevalue{
	padding: 10px 0px;
	color: #888;
	font-size: 16px;
	background: #f7f7f7;
 	border: 1px solid #ccc;
  	border-radius: 3px;
	box-sizing: border-box;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	width: 150px;
    height: 180px;
	margin:10px 20px;
	float:left;
	font-family: "Open Sans",bold;
  	font-size: 15px;
    font-weight: bold;
  	position: relative;
  	text-align: center;
  	text-transform: uppercase;
	line-height: 20px;
}

.ihc-popup-shortcodevalue .fa-ihc{
	font-size: 56px;
  	display: block;
  	line-height: 100px;
}

.help-shortcodes .ihc-popup-shortcodevalue{
	text-transform:none;
}
.help-shortcodes .ihc-popup-shortcodevalue .fa-ihc{
	line-height:80px;
}
.help-shortcodes .ihc-popup-shortcodevalue span{
	display: block;
    line-height: 40px;
    color: #000;
    font-weight: 700;
}
.showcases-wrapp {
	margin-top:40px;
}
.showcases-wrapp .ihc-popup-shortcodevalue{
	text-transform:none;
    font-size: 17px;
	width:250px;
    height: 250px;
	max-width:20%;
}
.showcases-wrapp  .ihc-popup-shortcodevalue .fa-ihc{
	line-height:120px;
    font-size: 70px;
}
.showcases-wrapp  .ihc-popup-shortcodevalue span{
	 display: block;
    line-height: 20px;
    color: #999;
    font-weight: 500;
    font-size: 14px;
    padding: 0 15px;
    padding-top: 25px;
    font-style: italic;
}


.ihc-popup-shortcodevalue:hover{
	color: #d9534f;
	cursor: pointer;
}
#ihc-popup-target-user-select-view{
	background-color: #fff;
	border: 1px solid #eee;
	padding: 4px 12px;
	min-height:40px;
	border-width:1px 0 1px 0;
    margin: 13px -15px;
}
.ihc-dashboard-textarea{
	width: 400px;
	height: 100px;
}
.ihc-dashboard-textarea-full{
	width: 100%;
	height: 100px;
}
.ihc-tag-item {
	  background-color: #1FC4C8;
	  color: #fff;
	  padding: 5px;
	  margin: 3px;
	  display:inline-block;
	  min-width: 40px;
}
.ihc-remove-tag{
	cursor: pointer;
    margin-left: 5px;
	display: inline-block;
	float:right;
}
.ihc-meta-box-message{
	/*background-color: #368ee0;*/
	color: #55B4EC;

	padding: 5px;
  	margin: 0px 0px;
	font-size: 14px;
	font-weight: bold;
}
.ihc-dashboard-menu ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999996;
}
.ihc-dashboard-menu ul li.selected,.ihc-dashboard-menu ul li:hover  {
    background-color: rgba(255,255,255,0.1);
}

.ihc-display-none{
	display: none;
}
.ihc-display-block{
	display: block;
}

.ihc-stuffbox{
	margin-bottom: 20px;
  	padding: 0;
  	line-height: 1;
	background-color: #fff;
}
.ihc-stuffbox-magic-feat{
}
.ihc-stuffbox h3 {
	  background-color: #fff;
	  font-weight: bold;
	  color: #333;
	  background-image: none;
	  text-shadow: none;
	  box-shadow: inset 0px -5px 10px 2px rgba(0,0,0,0.03);
	  font-family: "Open Sans",sans-serif;
	  font-size: 16px;
	  padding: 16px 12px;
	  line-height: 1.4;
	  border-bottom: 1px solid #ccc;
}
.ihc-stuffbox-magic-feat .ihc-h3{
	    background: #f1f4f8 !important;
    	color: #47597a !important;
}
.ihc-stuffbox .inside{
	padding: 0 12px 12px;
  	line-height: 1.4em;
  	font-size: 13px;
	margin-top: 10px;
}
.ihc-stuffbox-magic-feat .inside{
	    /*background: #f7f8fb;*/
}
.ihc-stuffbox .inside .ihc-register-label{
	display: inline-block;
	width: 11%;
	margin-right: 5px;
	color: #333;
}
.ihc-mini-title{
	font-weight: bold;
}
.ihc-inside-mini-box{
	margin-bottom: 10px;
}
.ihc-user-pagination{
  padding: 5px 9px;
  margin: 0 2px;
  background: #fafafa;
  border: 1px solid #ddd;
  line-height: 20px;
  vertical-align: -webkit-baseline-middle;
	text-decoration:none;
	color:#999;
	font-weight:bold;
}
.ihc-user-pagination.selected{
	color: orange;
	background-color:#fff;
	color:#000;
}
.ihc-meta-box-err-msg{
	font-size: 10px;
}
#ihc_replace_content{
	display: none;
}
.ihc-subtab-menu{
	width: 100%;
	position: relative;
	top: -25px;
	background-color: rgba(0,0,0,0.7);
	margin-left: -20px;
	padding: 5px 0px 5px 20px;

    background-color: rgba(80,103,132,1);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    border-bottom: 1px solid #fff;
    padding: 8px 0px 8px 20px;
	box-sizing:content-box;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
	padding: 0px 0px 0px 20px;

}
.ihc-subtab-menu:after{
	content: " ";
	clear:both;
}
.ihc-subtab-menu .ihc-subtab-menu-item{
  	text-decoration: none;
  	color: #fff;
	display: inline-block;
	/*margin-right: 20px;*/
    padding: 8px 15px;
    box-sizing: border-box;
	float:left;
}
.ihc-subtab-menu .ihc-subtab-menu-item:hover, .ihc-subtab-menu .ihc-subtab-selected{
	background-color: rgba(0,0,0,0.25);
}
.ihc-subtab-menu .ihc-subtab-menu-item:first-child {
    margin-left: 180px;
}
.ihc-dashboard-form-wrap{
	margin-top: 40px;
	margin-right:20px;
}
.ihc-wrapp-submit-bttn{
	    margin: 15px 10px;
}
.ihc-custom-mini-bttn{
	display: block;
    font-size: 11px;
    padding: 4px 4px 4px 4px;
    margin-bottom: 10px;
    background: #2ea2cc;
	border-width:1px;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    color: #fff;
    text-decoration: none;
}
.ihc-fullwidth{
	display:block;
	max-width:100%;
	width:100%;
}
.ihc-padding{
	padding:3px 12px;
}
.ihc-bold{
	font-weight:bold;
}
.ihc-clear{
	clear:both;
}
.ihc-class input[type=checkbox], .ihc-class input[type=color], .ihc-class input[type=date], .ihc-class input[type=datetime-local], .ihc-class input[type=datetime], .ihc-class input[type=email], .ihc-class input[type=month], .ihc-class input[type=number], .ihc-class input[type=password], .ihc-class input[type=radio], .ihc-class input[type=search], .ihc-class input[type=tel], .ihc-class input[type=text], .ihc-class input[type=time], .ihc-class input[type=url], .ihc-class input[type=week], .ihc-class select, .ihc-class textarea{
	  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  background-color: #fff;
  color: #333;
  outline: 0;
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out;
}
.ihc-separator{
	width:100%;
	height:1px;
	border-bottom:1px solid #ddd;
	margin:12px 0px;
}
#ihc_show_for{
}
#ihc_show_for h3, #ihc_show_for h2{
	background-color: #d9534f;
	color: #fff;
}
#ihc_show_for .handlediv{
	color:#fff;
}
#ihc_show_for .inside{
	padding:0px;
	padding-top:8px;
	padding-bottom:15px;
}
#ihc_tags_field{
	background-color: #fcfcfc;
	border: 1px solid #eee;
	padding: 4px 2px;
	min-height:20px;
	border-width:1px 0 1px 0;
}
.ihc-redrep{
	background-color: #fcfcfc;
	border: 1px solid #eee;
	min-height:20px;
	border-width:1px 0 1px 0;
	padding-top:5px;
	padding-bottom:5px;
	margin: 6px 0;
}
#ihc_default_pages_content{
    background-color: #fafafa;
}
#ihc_default_pages_content h3, #ihc_default_pages_content h2{
	background-color:#55B4EC;
	color: #fff;
}
#ihc_default_pages_content .handlediv{
	color:#fff;
}
#ihc_default_pages_content .inside{
	padding:0px;
	padding-top:10px;
	padding-bottom:10px;
	margin:12px 0;
	background-color: #fff;
	border:1px solid #eee;
	border-width:1px 0 1px 0;
}
.ihc-info-box{
  margin-top:13px;
}
.ihc-info-box .ihc-not-set{
  color: #b94a48;
  background-color: #f2dede;
  border-width:1px 0 1px 0;
  border-style:solid;
  border-color: #eed3d7;
  padding:4px 12px;
  margin:3px 0;
  display:block;
}
.ihc-dashboard-wrap .ihc-not-set{
	margin: 10px 0px;
    margin-left: -20px;
  	padding: 12px 19px 12px 15px;
  	border-radius: 3px 3px 3px 3px;
  	border: 1px solid #F0DBB4;
	color: #9b4449;
	background-color: #fff6f4;
	border-color: #f8cdcd;
	margin-top:-10px;
}
.ihc-deashboard-middle-text-input{
	min-width: 400px;
}
i.mce-i-ihc_btn_locker, i.mce-i-ihc_btn_forms{
  font: 400 20px/1 dashicons;
  padding: 0 2px 0 0;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: -2px;
  background-color: #55B4EC;
  color: #fff !important;
  padding: 1px 5px !important;
  font-size: 15px;
  line-height: 18px;
  height: 18px !important;
  width: initial !important;
}
i.mce-i-ihc_btn_locker{
  background: #d9534f;
 }
i.mce-i-ihc_btn_locker:hover, i.mce-i-ihc_btn_forms:hover{
  border-radius:3px;
}
i.mce-i-ihc_btn_locker:hover{
	 background-color:#E52937;
}

i.mce-i-ihc_btn_forms:hover{
	 background-color: rgba(15, 162, 226, 1);
}
i.mce-i-ihc_btn_locker:before{
	content: '\f160';
}

i.mce-i-ihc_btn_locker:after{
	content: 'MP Locker';
	font-family: "Open Sans",sans-serif;
  font-size: 12px;
  vertical-align: inherit;
  padding-left: 3px;
  padding-right:3px;
}
i.mce-i-ihc_btn_forms:before{
	content: '\f180';
}
i.mce-i-ihc_btn_forms:after{
	content: 'MP ShortCodes';
	font-family: "Open Sans",sans-serif;
	font-size: 12px;
	vertical-align: inherit;
	padding-left: 3px;
    padding-right:3px;
}

.ihc-dashboard-mini-msg-alert{
	font-size: 11px;
	font-style: italic;
	color: green;
	margin-bottom: 10px;
}

#ihc-register-fields-table tbody tr{
	cursor: move;
}
.indeed-add-new-like-wp{
	padding: 0px 16px 0px 0px;
    background-color: #2196f3;
    border: 1px solid transparent;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 14px;
    font-weight: 300;
    outline: 0;
    line-height: 20px;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    text-decoration: none;
    min-width: 120px;
    display: inline-block;
    margin-right: 10px;
	/*position: relative;
	display: inline-block;
	text-decoration: none;
	border:1px solid transparent;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	font-size: 13px;
	line-height:13px;
	vertical-align:middle;
	font-weight: bold;
	text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
	cursor: pointer;
	outline: none;
	padding: 8px 14px;
	min-width:100px;
	margin: 0;

	/*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);*/

	/*border-radius: 4px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	color: #ffffff;
	background: linear-gradient(#f2616e,#d94856);
	background-image: -ms-lienar-gradient(#f2616e,#d94856);
	background-image: -webkit-linear-gradient(#f2616e,#d94856);
	background-image: -o-linear-gradient(#f2616e,#d94856);
	background-image: -moz-linear-gradient(#f2616e,#d94856);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f2616e', endColorStr='#d94856', GradientType=0)";
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f2616e', endColorStr='#d94856', GradientType=0);*/
}
.indeed-add-new-like-wp i{
    background-color: #0d8aee;
    padding: 11px;
    font-size: 16px;
    margin-right: 10px;
}
.indeed-add-new-like-wp:hover{
	color:#fff !important;
  	/*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);*/
 /* background: linear-gradient(#FFFFFF,#EEEEEE);
  background-image: -ms-lienar-gradient(#FFFFFF,#EEEEEE);
  background-image: -webkit-linear-gradient(#FFFFFF,#EEEEEE);
  background-image: -o-linear-gradient(#FFFFFF,#EEEEEE);
  background-image: -moz-linear-gradient(#FFFFFF,#EEEEEE);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#EEEEEE', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#EEEEEE', GradientType=0);
	text-shadow:none;
	border:1px solid #bbb;
	color: #333;*/
}
.toplevel_page_ihc_manage .update-nag,.toplevel_page_ihc_manage .notice,.toplevel_page_ihc_manage .notice-success,.toplevel_page_ihc_manage div.error,.toplevel_page_ihc_manage div.updated{
	display: none;
}

.ihc-danger-box{
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.ihc-success-box{
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		border-radius: 4px;
		color: #3c763d;
		background-color: #dff0d8;
		border-color: #d6e9c6;
}

.ihc-sortable-off{
	padding: 3px 8px;
	border: 1px solid #aaa;
	color: #333;
    margin: 5px 0px;
    display: inline-block;
	cursor: pointer;
	float:left;
  background: linear-gradient(#FFFFFF,#EEEEEE);
  background-image: -ms-lienar-gradient(#FFFFFF,#EEEEEE);
  background-image: -webkit-linear-gradient(#FFFFFF,#EEEEEE);
  background-image: -o-linear-gradient(#FFFFFF,#EEEEEE);
  background-image: -moz-linear-gradient(#FFFFFF,#EEEEEE);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#EEEEEE', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#EEEEEE', GradientType=0);
}
.ihc-sortable-on{
	padding: 3px 8px;
	border: 1px solid #aaa;
	color: lightblue;
    margin: 5px 0px;
    display: inline-block;
	cursor: pointer;
	background: #666;
	color:#fff;
	float:left;
}
#ihc-reorder-msg{
  color: rgb(33, 117, 155);
  font-weight: bold;
  float: left;
  line-height: 30px;
  padding-left: 10px;
}
.ihc-reorder-msg:after{
	content:"";
	clear:both;
}
.ihc-sortable-table-wrapp .ui-sortable-helper {
    display: table !important;
}
#ihc-levels-table tbody tr:nth-child(2n), #ihc-register-fields-table tbody tr:nth-child(2n) {
    background-color: #f9f9f9;
}

.ihc-dashboard-title{
	  font-size: 28px;
	  font-weight: 400;
	  padding: 0;
	  text-transform: uppercase;
	  font-family: Oswald, Helvetica, Arial, sans-serif;
	  color: rgba(118, 118, 118, 1.0);
	  margin-bottom: 20px;
	  line-height: 1.1;
}
.ihc-dashboard-title .second-text {
  text-transform: initial;
  font-size: 24px;
  color: #444;
}
.ihc-box-content-dashboard {
  	background-color: #fff;
  	width: 100%;
	height: 340px !important;
}
.ihc-box-content-dashboard.ihc-color-box-green{
	background-color: #1fb5ac !important;
	color: #fff;
}
.ihc-box-content-dashboard .info-title {
  font-size: 21px;
  line-height: 27px;
  font-weight: bold;
}
.ihc-box-content-dashboard .ihc-pops-list {
  margin: 20px 0;
  margin-left: 10px;
  font-size: 13px;
}
.ihc-box-content-dashboard .ihc-pops-list .list-cont {
  display: inline-block;
}
.ihc-box-content-dashboard .ihc-pops-list .list-cont a{
	color: #fff;
	text-decoration: none;
}
.ihc-box-content-dashboard .ihc-pops-list .list-cont a:hover{
	color: #ffc333;
}
.ihc-box-content-dashboard  .ihc-pops-list li {
  padding-bottom: 5px;
}
.ihc-box-content-dashboard .ihc-pops-list li span {
  display: block;
  color: #ddd;
  font-size: 12px;
  line-height: 12px;
  padding-left: 15px;
}

.ihc-flot{
  	width: 100%;
 	height: 300px;
}

.ihc-dashboard-top-box{
	width: 100%;
	min-height: 100px;
  	margin-bottom: 30px;
 	background: #ffffff;
  	padding: 15px;
 	box-sizing: border-box;
	display: inline-block;
  	vertical-align: top;
}

.ihc-dashboard-top-box .stats {
  	padding-left: 85px;
}
.ihc-dashboard-color-1{
	background-color: #fa8564 !important;
}
.ihc-dashboard-color-2{
	background-color: rgb(66, 66, 66) !important;
}
.ihc-dashboard-color-3{
	background-color: rgba(240, 80, 80, 1.0) !important;
}
.ihc-dashboard-color-4{
	background-color: #4cc0c1 !important;
}

.ihc-dashboard-top-box h4 {
  	font-weight: 600;
  	color: #505458;
  	margin: 10px 0 15px 0;
 	font-size: 27px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

.iump-wrapper{
	padding:10px 30px;
	padding-left:5px;
	width:100%;
	box-sizing:border-box;
}
.iump-wrapper:after{
	clear: both !important;
	content: " ";
}
.subcr-type-list {
  background-color: #f1f1f1;
  color: #666;
  padding: 3px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: bold;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  box-radius: 1px;
  display: inline-block;
  min-width: 70px;
  /*-webkit-box-shadow: 0 1px 1px rgba(90,90,90,0.1);
  box-shadow: 0 1px 1px rgba(90,90,90,0.1);*/
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align:center;
}
.subcr-type-list.iump-pending{
	background-color:rgba(240, 80, 80, 1.0);
	color: #9b4449;
    background-color: #f9f2f0;
    border-color: #f8cdcd;
}
.level-type-list{
  background-color: #1fb5ac;
  color: #fff;
  padding: 3px 9px;
  margin:2px 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-radius: 3px;
  display: inline-block;
  cursor:pointer;
}
.iump-form-line{
	padding:10px 5px;
	border-bottom:1px solid #fafafa;
}
.iump-labels{
	min-width:120px;
	text-align:right;
	padding-right:15px;
	display: inline-block;
}
.iump-labels-special{
	font-weight:bold;
	color: #21759b;
    display: block;
    margin: 5px 0;
  font-family: 'Oswald', arial, sans-serif !important;
  font-size: 14px;
  font-weight: 400;
}
.iump-labels-onbutton{
	font-weight:bold;
	color: #21759b;
	line-height:27px;
    display: inline-block;
    margin: 5px 0;
  /*font-family: 'Oswald', arial, sans-serif !important;*/
  font-size: 15px;
  font-weight: 700;
}
.iump-onbutton{
	    min-height: 25px;
    display: inline-block;
}
.iump-form-line input, .iump-form-line select{
	min-width:250px;
}
.iump-form-line input[type=checkbox]{
	min-width:inherit;
}
.iump-submit-form{
	padding:10px 5px;
}
.level-payment-list {
  background-color: #906eb3;
  color: #fff;
  padding: 3px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: bold;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  box-radius: 1px;
  display: inline-block;
  min-width: 70px;
  /*-webkit-box-shadow: 0 1px 1px rgba(90,90,90,0.1);
  box-shadow: 0 1px 1px rgba(90,90,90,0.1);*/
  border-radius: 3px;
  text-align:center;
}
.iump-page-title{
	font-size: 28px;
	font-weight: 400;
	padding: 0;
	text-transform: capitalize;
	font-family: Oswald, Helvetica, Arial, sans-serif;
	color: rgba(118, 118, 118, 1.0);
	margin: 15px 0;
	line-height: 1.1;
}
.iump-page-title .second-text {
	text-transform: initial;
	font-size: 24px;
	color: #444;
}
.iump-spacewp_b_divs {
  height: 1px;
  background: #eee;
  margin: 5px 0px 5px 0px;
}
.iump-no-border{
	border:none !important;
}
.iump-info-message{
	color:#999;
	font-size:11px;
	font-style:italic;
}
.impu-shortcode-display{
	width:100%;
	padding: 15px 0;
  	background-color: #39434D;
  	color: #ededed;
	text-align:center;
}
.iump-register-select-template{
	font-weight: bold;
	padding: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e8e8e8;
	border-bottom: 2px solid rgba(31, 181, 172, 1.0);
	margin: -10px -11px 15px -11px;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.iump-special-line{
	font-weight: bold;
	padding: 10px;
	padding-bottom:30px;
	background-color: #f5f5f5;
	border: 1px solid #e8e8e8;
	border-bottom: 2px solid rgba(31, 181, 172, 1.0);
	margin: 5px -11px 10px -11px;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-weight: 400;
}
.iump-separator{
	color:#000;
	font-weight:bold;
	font-size:14px;
}
.ihc-dashboard-logo{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 100%;
  background-color: #239fdd;
  /* z-index: 999995; */
  z-index: 2;
}
.ihc-dashboard-logo a{
	display:block;
}
.iump-pagination-wrapper{
	float:right;
	margin-right:20px;
  height: 30px;
}

.ihc_vc_logo{
  background-image: url('../images/imp_vc_logo.png') !important;
}

.ihc-menu-page{
  color: #21759b;
  font-weight: 600;
  font-size: 15px;
  padding: 15px 0 5px 0;
  display: block;
}
.ihc-menu-page span{
	font-weight:400;
	font-size:14px;
	color:#555;
}
.ihc-warning-message{
	margin: 20px 0px;
  	padding: 12px 19px 12px 15px;
  	border-radius: 3px 3px 3px 3px;
  	border: 1px solid #F0DBB4;
	color: #9b4449;
	background-color: #fff6f4;
	border-color: #f8cdcd;
}
.ihc-expired-level{
	background-color:rgba(240, 80, 80, 0.8);
}
.ihc-manage-user-expire input{
	text-align:center;
}

.ihc-general-options-link-pages{
	font-size: 11px;
}
.ihc-general-options-link-pages a{
	text-decoration: none;
}
.iump-payment-list-wrapper{
	margin: 30px 0px 30px 0;
}
.iump-payment-box-wrap {
    width: 25%;
    min-width: 365px;
    max-width: 465px;
    padding: 20px;
    padding-left: 0px;
    float: left;
    box-sizing: border-box;
    height: 240px;
    color: #fff !important;
}
.iump-payment-box-wrap a{
   color: #fff !important;
   text-decoration:none;
}
.iump-payment-box {
    display: block;
    height: 100%;
    width: 100%;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    position: relative;
	background-color:#c7cbd3;
}
.iump-payment-box.paypal-active{
	background-color:#11559d;
}
.iump-payment-box.authorize-active{
	background-color:#f1505b;
}
.iump-payment-box.stripe-active{
    background-color: #27bebe;
}
.iump-payment-box.twocheckout-active{
    background-color: #FDB45C;
}
.iump-payment-box.bank_transfer-active{
    background-color: #6a3da3;
}
.iump-payment-box.braintree-active{
    background-color: #61d395;
}
.iump-payment-box.payza-active{
    background-color: #f8ba01;
}
.iump-payment-box-title {
    margin: 3px 5px;
    line-height: 40px;
    border-bottom: solid 1px rgba(255,255,255,0.7);
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 700;
    height: 65px;
    padding: 12px 0 13px 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.iump-payment-box-type {
	margin:5px 10px 5px 10px;
	opacity:0.95;
    margin-bottom: 66px;
	min-height:18px;
	min-width:1px;
}
.iump-payment-box-bottom {
    line-height: 37px;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
    height: 45px;
    padding: 4px 0 4px 5px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.15);
    position: relative;
    z-index: 100;
}
.iump-payment-box-bottom span{
	font-weight:600;
}
/* ============= checkbox style on/off ============= */

.iump_label_shiwtch{
	font-size:15px !important;
}
.iump_label_shiwtch-uap-affiliate{
	font-size: 11px !important;
}
input[type="checkbox"].iump-switch {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"].iump-switch + div {
	display: inline-block;
	vertical-align: middle;
	width: 3em;	height: 1em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 999px;
	margin: 0 .5em;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.1), transparent),
	                  linear-gradient(90deg, hsl(210, 90%, 60%) 50%, transparent 50%);
	background-size: 200% 100%;
	background-position: 100% 0;
	background-origin: border-box;
	background-clip: border-box;
	overflow: hidden;
	transition-duration: .4s;
	transition-property: padding, width, background-position, text-indent;
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset;
	font-size: 150%; /* change this and see how they adjust! */
	box-sizing:content-box;
}

input[type="checkbox"].iump-switch:checked + div {
	padding-left: 2em;	width: 1em;
	background-position: 0 0;
}

input[type="checkbox"].iump-switch + div:before {
	content: 'On';
	float: left;
	width: 1.65em; height: 1.65em;
	margin: -.1em;
	border: 1px solid rgba(0,0,0,.35);
	border-radius: inherit;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.2), transparent);
	box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
	            0 0 .5em rgba(0,0,0,.3);
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	text-indent: -2.5em;
}

input[type="checkbox"].iump-switch:active + div:before {
	background-color: #eee;
	box-sizing:content-box;
}

input[type="checkbox"].iump-switch:focus + div {
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset,
	            0 0 .4em 1px rgba(255,0,0,.5);
}

input[type="checkbox"].iump-switch + div:before,
input[type="checkbox"].iump-switch + div:after {
	font: bold 60%/1.9 sans-serif;
	text-transform: uppercase;
	box-sizing:content-box;
}

input[type="checkbox"].iump-switch + div:after {
	content: 'Off';
	float: left;
	text-indent: .5em;
	color: rgba(0,0,0,.45);
	text-shadow: none;
}
/* ============= END checkbox style on/off ============= */
.ihc_item_status_active {
    width: 10px;
    height: 10px;
	margin:0 auto;
    margin-top: 5px;
    background: #0bb586;
    border-radius: 100%;
    cursor: pointer;
}
.ihc_item_status_nonactive {
    width: 10px;
    height: 10px;
	margin:0 auto;
    margin-top: 5px;
    background: #ee3733;
    border-radius: 100%;
    cursor: pointer;
}
.ihc-special-button{
    cursor: pointer;
    outline: none;
    padding: 0px 16px 0px 0px;
    background-color: #0bb586;
    border: 1px solid transparent;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 14px;
    font-weight: 300;
    outline: 0;
    line-height: 20px;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    text-decoration: none;
    min-width: 120px;
    display: inline-block;
    margin-right: 10px;
}
.ihc-special-button i {
	background-color: rgba(0,0,0,0.2);
    padding: 11px;
    font-size: 16px;
    margin-right: 10px;
}
.ihc-special-buttons-users div{
	float:right;
}
.ihc-special-buttons-users{
	clear:both;
	min-height:40px;
}
.ihc-filters-wrapper{
	background-color:#fafafa;
	border:1px solid #ddd;
	margin-right:10px;
}
.ihc-filters-wrapper select{
	min-width:70px;
}
.ihc-filters-wrapper input{
	width:100%;
}
.ihc-filters-wrapper .row-fluid [class*="span"] {
	padding:20px 30px 20px 30px;
	text-align:center;
}

/************ SOCIAL MEDIA LOGIN ***********/
.iump-sm-list-wrapper{
	margin: 30px 0px 30px 0;
}
.iump-sm-box-wrap {
    width: 25%;
    min-width: 200px;
    max-width: 400px;
    padding: 20px;
    padding-left: 0px;
    float: left;
    box-sizing: border-box;
    height: 200px;
    color: #fff !important;
}
.iump-sm-box-wrap a{
   color: #fff !important;
   text-decoration:none;
}
.iump-sm-box {
    display: block;
    height: 100%;
    width: 100%;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    position: relative;
	background-color:#c7cbd3;
}
.iump-sm-box.fb-active{
	background-color: rgb(59, 89, 152);
}
.iump-sm-box.tw-active{
	background-color: #4099FF;
}
.iump-sm-box.vk-active{
    background-color: #5d83aa;
}
.iump-sm-box.goo-active{
    background-color: rgb(217, 82, 50);
}
.iump-sm-box.in-active{
    background-color: #0074a2;
}
.iump-sm-box.tbr-active{
    background-color: #2c4762;
}
.iump-sm-box.ig-active{
    background-color: #125688;
}

.iump-sm-box-title {
    margin: 3px 5px;
    line-height: 40px;
    border-bottom: solid 1px rgba(255,255,255,0.7);
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 700;
    height: 52px;
    padding: 12px 0 13px 5px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 60px;
}
.iump-sm-box-bottom {
    line-height: 37px;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 100;
    height: 45px;
    padding: 4px 0 4px 5px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.15);
    position: relative;
    z-index: 100;
}
.iump-sm-box-bottom span{
	font-weight:600;
}

/****************** COUPONS **************/
.ihc-coupon-admin-box-wrap{
	width: 25%;
	min-width: 365px;
	max-width:465px;
	padding: 20px;
	padding-left:0px;
  	float:left;
	box-sizing:border-box;
	height:240px;
	color: #fff;
}
@media screen and (max-width: 1440px) {
    .ihc-coupon-admin-box-wrap{
       width: 33%;
    }
}
.ihc-coupon-box-wrap{
	display:block;
	height:100%;
	width:100%;
	font-family: Oswald, Helvetica, Arial, sans-serif;
	font-family: "Roboto", sans-serif;
	overflow:hidden;
	position:relative;
}
.ihc-coupon-box-title{
	margin:3px 5px;
	line-height:40px;
	border-bottom:solid 1px rgba(255,255,255,0.7);
	font-family: "Roboto", sans-serif;
	font-size:33px;
	font-weight:200;
	height:46px;
	padding:2px 0 3px 5px;
	box-sizing:border-box;
	overflow:hidden;
}
.ihc-coupon-box-content{
	padding:2px 5px 3px 10px;
	box-sizing:border-box;
	font-size: 15px;
	font-weight: normal;
	height:103px;
    overflow: hidden;
}
.ihc-coupon-box-levels span{
	font-weight:700;
}
.ihc-coupon-box-bottom{
	line-height:37px;
	font-family: Oswald, Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:200;
	height:45px;
	padding:4px 0 4px 5px;
	box-sizing:border-box;
  	background-color: rgba(0,0,0,0.15);
	position: relative;
  	z-index: 100;
}
.ihc-coupon-box-bottom-submitted{
	display:inline-block;
	border-left: solid 1px rgba(255,255,255,0.3);
    padding-left: 8px;
    vertical-align: top;
}
.ihc-coupon-box-bottom-disccount{
	margin-right: 5px;
    font-size: 20px;
	display:inline-block;
}
.ihc-coupon-box-bottom-date{
	float: right;
    padding-right: 10px;
    line-height: 18px;
    font-size: 13px;
    box-sizing: border-box;
    text-align: right;
    font-weight: 200;
}
.ihc-coupon-box-bottom-date span{
    font-weight: 500;
}
.ihc-coupon-box-links-wrap{
	opacity:0;
	position:absolute;
	width:100%;
	height:100%;
	top:48px;
	left:0px;
	background-color:rgba(0,0,0,0.3);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition:  all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.ihcwoo-no-top-margin{
	top: 0px !important;
}
.ihcwoo-no-top-margin .ihc-coupon-box-links{
	bottom: -40%;
}
.ihc-coupon-box-main:hover .ihc-coupon-box-links-wrap{
	opacity:1;
}
.ihc-coupon-box-links{
	padding-bottom: 100%;
	position: relative;
	bottom: -25%;
	text-align: center;
}
.ihc-coupon-box-link{
	color: #fff;
	border:solid 1px #fff;
	padding:5px 15px;
	min-width:80px;
	box-sizing:border-box;
	margin:15px 10px;
	display:inline-block;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	font-family: "Roboto", sans-serif;
}
.ihc-coupon-box-link:hover{
	background-color:#fff;
	color:#333;
}
.ihc-info-list{
	padding-left: 15px;
	margin-left: 10px;
	border-left: 2px solid #C56767;
}
.ihc-social-media-tr-dashboard{
	background-color: rgba(10, 159, 216,0.3) !important;
	color: rgba(10, 159, 216,1) !important;
	font-weight:bold;
}
.ihc-social-media-tr-dashboard td{
	color: #0c659e !important;
}

.ihc-coupon-tr-dashboard{
	background-color: rgba(148, 197, 35,0.3) !important;
	font-weight:bold;
}
.ihc-coupon-tr-dashboard td{
	color: #517207 !important;
}
.ihc-avatar-tr-dashboard{
	background-color: rgba(241, 80, 91,0.2) !important;
	font-weight:bold;
}
.ihc-avatar-tr-dashboard td{

}
.ihc-payment-tr-dashboard{
	background-color: #F2F0CB !important;
	font-weight:bold;
}
.ihc-invitation-code-tr-dashboard{
    background-color: rgba(204, 10, 216,0.3) !important;
    color: rgba(204, 10, 216,1) !important;
	font-weight:bold;
}
.ihc-payment-tr-dashboard td{

}
.ihc-dynamic-price-tr-dashboard{
	background-color: rgba(138, 87, 186,0.3) !important;
	font-weight:bold;
}
.ihc-dynamic-price-tr-dashboard td{
	color: #6d5f7a !important;
}
.ihc-dashboard-basic-info-label{
	font-size: 11px;
    color: #999;
    display: block;
}
#ihc_drip_content h3.ui-sortable-handle, #ihc_drip_content h2.ui-sortable-handle{
	background-color: #0bb586;
	color: #fff;
}
#ihc_drip_content .handlediv{
	color: #fff;
}

.ihc-dashboard-list-posts-col-default-pages{
    color: #fff;
    font-size: 11px;
    padding: 1px 8px;
	border-radius: 10px;
	background-color: #55B4EC;
	margin-right: 5px;
	display: inline-block;
}
.ihc-dashboard-list-posts-col-restricted-posts{
    color: #fff;
    font-size: 11px;
    padding: 1px 8px;
	border-radius: 10px;
	background-color: #d9534f;
	margin-right: 5px;
	display: inline-block;
}
.ihc-dashboard-list-posts-col-drip-content{
    color: #fff;
    font-size: 11px;
    padding: 1px 8px;
	border-radius: 10px;
	background-color: #0bb586;
	margin-right: 5px;
	display: inline-block;
}

#ihc_drip_content_meta_box .slider.slider-vertical{
	height: 130px !important;
	display: inline-block;
	width:10%;
}
.ihc-inside-bootstrap-slide{
	display: inline-block;
	vertical-align: top;
    margin: -10px 0 20px 0;
    padding-left: 10px;
    width: 87%;
    box-sizing: border-box;
    padding-bottom: 30px;
}
.ihc-inside-bootstrap-slide .title-select{
	font-weight:bold;
	font-size:13px;
    color: #777;
}
#ihc_slide_1, #ihc_slide_2{
	position: relative;
}
#ihc_slide_1 .ihc-inside-bootstrap-slide-div-1, #ihc_slide_2 .ihc-inside-bootstrap-slide-div-1{

	height:65px;
}
#ihc_slide_1 .ihc-inside-bootstrap-slide-div-2, #ihc_slide_2 .ihc-inside-bootstrap-slide-div-2{

	height:63px;
}
#ihc_slide_1 .ihc-inside-bootstrap-slide-div-3, #ihc_slide_2 .ihc-inside-bootstrap-slide-div-3{

	height:30px;
}
#ihc-level-select-v--1{
	background-color: #0bb586;
    color: #fff;
}
.ihc-register-dashboard-level-targeting-l{
    background-color: #1FC4C8;
    color: #fff;
    padding: 0px 5px;
    margin: 2px;
	font-size: 10px;
	display: inline-block;
	clear: both;

    border-radius: 3px;
}
.ihc-register-dashboard-level-targeting{
    background-color: #0bb586;
    color: #fff;
    padding: 0px 5px;
    margin: 3px;
	font-size: 10px;
	display: inline-block;
	clear: both;
}
.ihc-meta-drip-subtitle{
	font-size:21px !important;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 200;
}
#ihc_drip_content_list_targets div, #ihc_drip_content_list_targets span{
	    background-color: #1FC4C8;
    color: #fff;
    padding: 5px;
    margin: 3px;
    display: inline-block;
    min-width: 40px;
}
#ihc_drip_content_empty_meta_box{
	margin: 0px -12px -15px -12px;
    padding: 35px 20px 65px 20px;
    background: #fefefe;
    border-bottom: 2px solid rgba(31, 181, 172, 1.0);
    text-align: center;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.ihc-dashboard-inform-message{
	color:#999;
	font-weight:bold
}
.ihc-dangerbox{
	padding: 10px 12px;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #eee;
    border-left: 8px solid #e63600;
    border-radius: 5px;
    display: inline-block;
    padding-right: 40px;
    font-weight: bold;
    color: #666;
}

.ihc-error-global-dashboard-message{
    border-left: 4px solid #dc3232;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 10px 12px;
    color: #444;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
	display: block !important;
    margin-bottom: 20px;
}

.ihc-inactive-tab{
	color: #CCC !important;
}

.ihc-register-fields-disabled{
	background: #ccc !important;
}
.ihc-register-fields-disabled:hover{
	color: #ffffff !important;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	background: #ccc !important;
}
.ihc-admin-err-level{
	padding: 3px;
}
.ihc-license-status{
	padding:0 60px;
	font-weight:bold;
}
.ihc-dashboard-valid-license-code{
	color:#093;
	padding:20px 0;
}
.ihc-dashboard-err-license-code{
	color: #9b4449;
	padding:20px 0;
}


/* --------------------- RIGHT MENU ------------------- */
.ihc-right-menu{
    position: fixed;
    top: 220px;
	left: 0px;
}
.ihc-right-menu .ihc-right-menu-item{
    text-align: left;
	padding: 5px 5px;
	width: 60px;
	left: -40px;
	position: relative;
	overflow: hidden;
	opacity:0.7;
	border-bottom: 1px solid rgba(255,255,255, 0.1);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	box-sizing:border-box;
	background-color: #616f76;
    margin-bottom:3px;
}
.ihc-right-menu .ihc-right-menu-item:hover{
	right: 0px;
	overflow: visible;
	background-color:#a7cc2b;
	opacity:1;
}
.ihc-right-menu .ihc-right-menu-item:hover .ihc-right-menu{

}
.ihc-right-menu-title{
	visibility: hidden;
    left: -75px;
    position: relative;
    font-size: 9px;
	font-weight:bold;
    line-height: 7px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	box-sizing:border-box;
	text-align:center;
}
.ihc-right-menu .ihc-right-menu-item:hover .ihc-right-menu-title{
	left: 0px;
	visibility: visible;
}
.ihc-right-menu .ihc-right-menu-item a {
	color: #FFF;
	text-decoration: none;
}
.fa-user_shortcodes-ihc:before {
    content: "\f121";
}
.ihc-right-menu .fa-ihc-menu{
	width:25px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.ihc-right-menu .ihc-right-menu-item:hover .fa-ihc-menu{
	margin:0 auto;
}
.ihc-right-menu .fa-ihc-menu {
    font-size: 24px !important;
    display: block !important;
    margin-bottom: 5px !important;
    color: #FFF !important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.fa-listing_users-ihc:before{
    content: "\f0c0";
}


/******************** LIST USERS SHORTCODE GENERATOR ***********************/
.ihc-user-list-wrap{
    padding: 0px 20px 0px 10px;
}
.ihc-user-list-wrap .ihc-user-list-settings-wrapper{
	border: 1px solid #ddd;
    background-color: #fff;
	padding-bottom: 10px;
}
.ihc-user-list-wrap .actions {
    margin-top: 0px;
    float: right;
    margin-right: 10px;
}
.ihc-user-list-wrap .box-title {
    border-bottom: 2px solid #ddd;
    padding: 7px 0 7px 10px;
    background: #ededed;
}
.ihc-user-list-wrap .box-title h3 {
    float: left;
    margin: 3px 0 3px 0;
    line-height: 24px;
    font-weight: 400;
    color: #444;
    font-size: 20px;
}
.ihc-user-list-wrap .btn {
    background: none;
    background-image: none !important;
    color: #333;
    padding: 5px 9px !important;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.ihc-user-list-wrap .box-title a.btn:hover {
    background: none;
    background-color: #368ee0;
    color: #fff;
}
.fa-icon-angle-down-ihc:before{
	content: "\f085";
    font-size: 20px;
    margin-right: 5px;
}
.fa-icon-cogs-ihc:before{
    content: "\f107";
    font-size: 14px;
}
.fa-icon-slider-ihc:before{
    content: "\f0dc";
    margin-right: 5px;
}
.pointer{
	cursor: pointer;
}
.ihc-user-list-wrap .ihc-list-users-settings{
    width: 100%;
    padding: 15px 0;
    background: rgb(250, 250, 250);
}
.ihc-user-list-wrap .ihc-column{
	float: left;
    width: 25%;
    padding: 8px;
	box-sizing:border-box;
}
.ihc-memberslist-fields{
	display: inline-block;
    padding-right: 10px;
    box-sizing: border-box;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #555;
    font-size: 14px;
    padding-top: 10px;
}

.ihc-user-list-wrap .splt-1{
	width:60%;
	float:left;
	padding:0 3px;
	box-sizing:border-box;
}
.ihc-user-list-wrap .splt-2{
	width:40%;
	float:left;
	padding:0 3px;
	box-sizing:border-box;
}
.fa-icon-dispent-ihc:before{
	content: "\f0e4";
    margin-right: 5px;
}
.ihc-user-list-wrap .ihc-settings-inner{
	background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 10px;
	min-height:340px;
}
.column-two .ihc-settings-inner{
	    min-height: initial;
}
.ihc-spacewp_b_divs {
    height: 1px;
    background: #eee;
    margin: 5px 0px 10px 0px;
	clear:both;
}
.ihc-user-list-wrap .ihc-column h4 {
    font-size: 17px;
    color: #1e4c7f;
    margin: 0px;
    margin-top: 4px;
    font-size: 14px;
    padding: 10px 0 10px 10px !important;
    background-color: #d9534f;
    color: #fff;
}
.ihc-user-list-wrap .ihc-user-list-row{
	margin-bottom: 10px;
}
.ihc-user-list-wrap .ihc-user-list-row .ihc-label{
	width: 40%;
	display: inline-block;
	font-weight: bold;
}
.ihc-user-list-wrap .ihc-user-list-row .ihc-field{
	display: inline-block;
	vertical-align: top;
}
.column-three .ihc-user-list-row .ihc-field{
	display:block;
}
.column-three .ihc-user-list-row .ihc-label{
	width:100%;
}
.column-three .ihc-user-list-row .ihc-field select{
	width:100%;
}

.fa-icon-entryinfo-ihc:before{
	content: "\f05d";
    margin-right: 5px;
}
.fa-icon-temp-ihc:before{
	content: "\f06e";
    margin-right: 5px;
}
.ihc-user-list-wrap .color-scheme-item, .ihc-user-list-wrap .color-scheme-item-selected{
	width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #fff;
}
.ihc-user-list-wrap .color-scheme-item-selected, .ihc-user-list-wrap .color-scheme-item:hover{
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.ihc-user-list-wrap .extra-info{
	font-style: italic;
    font-size: 10px;
    color: #6F6F6F;
}
.ihc-user-list-shortcode-wrapp{
    background: #c6d8ed;
    background: #d7e0ea;
    color: #1e4c7f;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ihc-user-list-shortcode-wrapp .content-shortcode {
    padding: 8px 15px;
    background-color: #39434D;
    color: #ededed;
	text-align:center;
}
.fa-icon-eyes-ihc:before{
	content: "\f06e";
    margin-right: 10px;
}
.ihc-user-list-preview{

}
.ihc-user-list-preview .box-title{

}
.ihc-user-list-wrap .box-title h2 {
    float: left;
    margin: 3px 0 3px 0;
    line-height: 24px;
    font-weight: 400;
    color: #444;
    font-size: 20px;
}
.ihc-user-list-wrap .actions-preview {
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}
.ihc-user-list-preview .ihc-preview {
    padding: 15px;
    background-color: #fff;
}
.ihc-affiliates_menu {
    color: #ff7c9e !important;
}
.ihc-magic_feat_menu {
    color: #aaff7c !important;
}
.ihc-user-is-affiliate{
	font-size: 10px;
    padding: 2px 6px;
	background-color: #0a9fd8;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: inline-block;
}

.ihc-custom-field-item-wrapp{
	cursor: move;
}
.ihc-top-message{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #555;
    font-size: 21px;
    line-height: 38px;
}

/**************** MAGIC FEATURES *********************/
.ihc-magic-box-wrap{
	width: 25%;
    min-width: 300px;
    max-width: 465px;
    padding: 20px;
    padding-left: 0px;
    float: left;
    box-sizing: border-box;
    height: 250px;
    color: #fff !important;

}
.ihc-magic-feat-not-available{
	background-color: #C99999 !important;
}


@media (max-width: 1500px){
	.ihc-magic-box-wrap{
		width: 33%;
	}
}

.ihc-magic-box-wrap a{
	text-decoration: none;
}
.ihc-magic-box-wrap .ihc-magic-feature{
	display: block;
    height: 100%;
    width: 100%;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    position: relative;
    background-color: #f16186;
    background-color: #f25a68;
	position:relative;
	-webkit-transition: top 1.4s ease, left 0.4s ease, box-shadow 0.5s ease;
    -moz-transition: top 1.4s ease, left 0.4s ease, box-shadow 0.5s ease;
    -o-transition: top 1.4s ease, left 0.4s ease, box-shadow 0.5s ease;
    -ms-transition: top 1.4s ease, left 0.4s ease, box-shadow 0.5s ease;
    transition: top 1.4s ease, left 0.4s ease, box-shadow 0.5s ease;
}
.ihc-magic-box-wrap .ihc-magic-feature:hover{
	top:-5px;
	box-shadow: 5px 0px 30px rgba(0,0,0,0.2);
    -webkit-box-shadow: 5px 0px 30px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 0px 30px rgba(0,0,0,0.2);

}
.ihc-magic-box-wrap .ihc-magic-feature .ihc-magic-box-title{
	margin: 3px 5px;
    line-height: 40px;
    /* border-bottom: solid 1px rgba(255,255,255,0.7); */
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
    /* height: 50px; */
    overflow: hidden;
    /* margin-bottom: 86px; */
    text-align: center;
	color:#fff;
}
.ihc-magic-box-wrap .ihc-magic-feature .ihc-magic-box-icon{
	font-size: 90px;
    text-align: center;
    line-height: 103px;
    padding-top: 15px;
    box-sizing: border-box;
	color:#fff;
}
.ihc-magic-box-wrap .ihc-magic-feature .ihc-magic-box-desc{
	font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}
/************* ACCOUNT PAGE **************/
.ihc-ap-tabs-list {
    border-bottom: 1px solid #c9c9c9;
    background-color: #607d8b;
    color: #fff;
    margin: 0 -10px;
}
.ihc-ap-tabs-list .ihc-ap-tabs-list-item.ihc-ap-tabs-selected-item {
    color: #fff;
    background-color: #47565d !important;
}
.ihc-ap-tabs-list .ihc-ap-tabs-list-item {
    display: inline-block;
    vertical-align: top;
    padding: 8px 25px 8px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0px;
    border-bottom: 1px solid #738E9A;
    border-right: 1px solid #738E9A;
    float: left;
    font-size: 13px;
    color: #fff;
    line-height: 30px;
}

.ihc-dashboard-notification-top{
    position: absolute;
    top: 10px;
    left: 65%;
    border-radius: 10px;
    background-color: #f14c3f;
    padding: 1px 6px;
    font-size: 9px;
    line-height: 17px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 2px 7px !important;
    z-index: 999;
}
.iump-form-line h2, .iump-special-line h2{
	font-size:22px;
}
.inside input[type="text"]{
	/*margin:2px;*/
}
.ihc-ap-tabs-settings-item .input-group {
    margin-top: 5px;
}
.ihc-special-input-label{
    background-color: #3f9cc2 !important;
    color: #fff !important;
    border-color: #3f9cc2 !important;
}
.ihc-additional-help {
    position: absolute;
    bottom: 50px;
    right: 25px;
}
.ihc-black-button {
	color:#fff !important;
	border: 1px solid #353535 !important;
    background: #444 !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#333)) !important;
}
.ihc-green-button {
	color:#fff !important;
	border: 1px solid #719f42 !important;
    background: #86b854 !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#86b854), to(#719f42)) !important;
}
.ihc-red-button {
	color:#fff !important;
	border: 1px solid #c64537 !important;
    background: #fb5b4b !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fb5b4b), to(#db4e40)) !important;
}
.ihc-footer-text{
	display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 14px;
	line-height:28px;
}
.ihc-plugin-version{
	position: absolute;
    top: 46px;
    right: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.ihc-invitationcode-disabled{
	background-color: rgba(241, 80, 91,0.2) !important;
}
.ihc-magic-feat-bold-span{
	font-weight: bold;
	margin: 0px !important;
	float: none !important;
	color: #21759b;
	color: #f64268;
}
.ihc-inline-block-item{
	margin: 0px 4px;
	display: inline-block;
	vertical-align: top;
	background-color:#fcfcfc;
	border:1px solid #eee;
	padding: 8px 10px;
	margin-right:10px;
}
.iump-admin-info-p {
    font-size: 10px;
    color: #444;
    margin: 0px;
}

.iump_options.iump_tab a:before {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .618em;
    content: "\f507" !important;
    text-decoration: none;
}

.iump-woo-payment-special-color{
	background-color: #66cbff !important;
}
.iump-woo-discounts-special-color{
	background-color: #27bebe !important;
}
.iump-dripcontentnotifications-special-color{
	background-color: #555 !important;
}
/************* SWITCH *******************/
.iump-switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    overflow: hidden;
}

.iump-switch-title {
  margin-bottom: 6px;
}

.iump-switch-field input {
  display: none;
}

.iump-switch-field label {
  float: left;
}

.iump-switch-field label {
  display: inline-block;
  width: 350px;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.iump-switch-field label:hover {
    cursor: pointer;
}

.iump-switch-field input:checked + label {
  background-color: #A5DC86;
  background-color:#66cbff;
  color:#fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.iump-switch-field label:first-of-type {
  border-radius: 14px 0 0 14px;
}

.iump-switch-field label:last-of-type {
  border-radius: 0 14px 14px 0;
}

.iump-memberslist-box{
	background: #0bb586;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    font-weight: bold;
    color: #333;
    background-image: none;
    text-shadow: none;
    box-shadow: inset 0px -5px 10px 2px rgba(0,0,0,0.03);
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    padding: 16px 12px;
    line-height: 1.4;
    border-bottom: 1px solid #ccc;
    margin: 0px;
    background: #f1f4f8 !important;
    color: #47597a !important;
}
.iump-memberslist-h3{
	font-size: 18px;
    font-weight: bold;
    color: #555;
}
.ihc-spacewp_spec{
	height: 2px;
    background: #0a9fd8;
}
.fa-pushover-on-ihc{
	color:#66cbff !important;
	font-size:24px;
}
.ihc-text-center{
	text-align:center !important;
}
#ihc_reorder_menu_items tbody tr {
    cursor: move;
}

/************* FONT AWESOME POPUP ************/


.ihc-icon-select-wrapper{
	height: 30px;
	border: 1px solid #CCC;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	background: #fefefe;
    color: #696A6E;
}
.ihc-icon-input{
	width: 35px;
	height: 30px;
	cursor: pointer;
	font-size: 10px;
    font-weight: 700;
	float:left;
}
.ihc-shiny-select-html{
	width: 35px;
	height: 30px;
	padding: 3px 6px;
	font-size: 18px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.ihc-icon-arrow{
	float:left;
	width: 20px;
	height: 100%;
    text-align: center;
	display:table;
	background-color:#efefef;
	border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
	border-left: 1px solid #CCC;
	cursor:pointer;
}
.ihc-icon-arrow i{
	font-size:19px;
	vertical-align: middle;
    text-align: center;
    display: table-cell;

}
.indeed_select_popup{
	width: 276px;
	height: 350px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #fff;
	    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dbe1e8;
    -webkit-box-shadow: 0 0 4px 0 rgba(50,50,50,.3);
    -moz-box-shadow: 0 0 4px 0 rgba(50,50,50,.3);
    -o-box-shadow: 0 0 4px 0 rgba(50,50,50,.3);
    box-shadow: 0 0 4px 0 rgba(50,50,50,.3);
    background-color: #fff;
	position: absolute;
    z-index: 99999;
}
.ihc-font-awesome-popup-item{
	display: inline-block;
	    float: left;
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-right: 4px;
	margin-bottom:4px;
}
.ihc-font-awesome-popup-item:hover{
	background: #66cbff;
	color: #fff;
	cursor: pointer;
}
.ihc-font-awesome-popup-item .fa-ihc-preview{
	font-size: 20px;
	padding: 3px;
}

/*====================== MYCRED =======================*/
.wrap .widget-liquid-right #widgets-right .widgets-holder-wrap #sidebar-active #widget-mycred-hook_ihc_mycred .widget-top .widget-title{
	background-color: #55B4EC !important;
}
.wrap .widget-liquid-right #widgets-right .widgets-holder-wrap #sidebar-active #widget-mycred-hook_ihc_mycred .widget-top .widget-title h3{
	color: #fff !important;
}
.wrap .widget-liquid-left #widgets-left .widgets-holder-wrap .widget-holder #widget-list #widget-mycred-hook_ihc_mycred .widget-top .widget-title{
	background-color: #55B4EC !important;
}
.wrap .widget-liquid-left #widgets-left .widgets-holder-wrap .widget-holder #widget-list #widget-mycred-hook_ihc_mycred .widget-top .widget-title h3{
	color: #fff !important;
}
.wrap .widget-liquid-right #widgets-right .widgets-holder-wrap #sidebar-active #new-widget-mycred-hook_ihc_mycred .widget-top .widget-title{
	background-color: #55B4EC !important;
}
.wrap .widget-liquid-right #widgets-right .widgets-holder-wrap #sidebar-active #new-widget-mycred-hook_ihc_mycred .widget-top .widget-title h3{
	color: #fff !important;
}
.wrap .widget-liquid-right #widgets-right .widgets-holder-wrap #sidebar-active #widget-mycred-hook_ihc_mycred .widget-inside h2{
color: #21759b;
    font-weight: bold;
    font-family: 'Oswald', arial, sans-serif !important;
    font-size: 14px;
    font-weight: 400;
}
.wrap .widget-liquid-right #widgets-right .widgets-holder-wrap #sidebar-active #widget-mycred-hook_ihc_mycred .widget-inside span.description{
	display: block;
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
    padding-left: 0;
    padding-right: 0;
}
.toplevel_page_ihc_manage #wpadminbar {
    background-color: rgba(80,103,107,1.0);
}

.iump-wrapper .ihc-admin-tables thead tr, .iump-wrapper .ihc-admin-tables tfoot tr{
	background-color: rgba(80,88,107,1.0);
	height:46px;
}
.iump-wrapper .ihc-admin-tables thead th, .iump-wrapper .ihc-admin-tables tfoot th{
	color:rgba(255,255,255,1.0);
	font-family: 'Oswald', arial, sans-serif;
	padding: 8px 7px;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}
.iump-wrapper .ihc-admin-tables tbody td, .iump-wrapper .ihc-admin-tables tbody th {
    -webkit-box-shadow: inset 0 -1px 0 rgba(100,100,100,.1);
    box-shadow: inset 0 -1px 0 rgba(100,100,100,.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(100,100,100,.1);
    -ms-box-shadow: inset 0 -1px 0 rgba(100,100,100,.1);
    -o-box-shadow: inset 0 -1px 0 rgba(100,100,100,.1);
    padding: 16px 9px 15px;
}
.ihc-dashboard-wrap, .iump-wrapper, .ihc-footer-wrap {
    color: rgba(125,138,157,1.0);
}
.ihc-dashboard-wrap .ihc-stuffbox .ihc-h3, .ihc-dashboard-wrap .ihc-stuffbox h3 {
    color: rgba(108,119,135,1.0);
}

.ihc-api-link{
	background: #fafafa;
	padding: 10px 15px;
	font-weight:bold;
	margin-bottom:20px;
	margin-left:20px;
}
.ihc-api-details{
	margin-left:20px;
}
.ihc-api-details span{
	color:#555;
	font-weight:bold;
}

.ihc-line-break{
	width: 100%;
    height: 1px;
    background: #eee;
    margin: 5px 0px 5px 0px;
}
.ihc-custom-fields-row td{
	color:#999;
}
.ihc-custom-fields-row input[type="checkbox"]{
	border-radius:50%;
	    padding: 2px !important;
    width: 20px;
    height: 20px;
}
.ihc-custom-fields-label{
	color:#222 !important;
	font-weight:600;
}
.ihc-custom-fields-edit .ihc-icon-edit-e:before{
	font-size:19px;
}

.ihc-custom-fields-remove .ihc-icon-remove-e:before{
	font-size:19px;
}
.ihc_small_grey_button{
	    background: #777 !important;
		cursor:pointer;
}
