body , .tooltip{
    background-color: white;
    font-family: iransans;
}
.text-white{
  color: white;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
        display: flex;
        padding: 0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 20%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

.form-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form-navigation li {
    margin: .5rem;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    .form-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 100%;
    }
    .form-navigation li {
        flex-grow: 1;
    }
    .form-navigation button {
        width: 100%;
    }
}

.user-perdonal-info input,select{
    margin: 1rem auto;
    max-width: 370px;
}

.form-img {
    width:100%;
    height: auto;
}

/*custom check and radio*/
.radio,
.checkbox {
  padding-left: 20px;
  position: relative;
  display: block;
}
.radio input,
.checkbox input {
  opacity: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  margin-left: -20px;
}
.radio input:checked + label::before,
.checkbox input:checked + label::before {
  border-color: #9575cd;
}
.radio input:checked + label::after,
.checkbox input:checked + label::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 13px;
  height: 13px;
  right: 2px;
  top: 4px;
  margin-left: -20px;
  border: 1px solid #9575cd;
  border-radius: 50%;
  background-color: #9575cd;
}
.radio label,
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.radio label::before,
.checkbox label::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  right: 0;
  top: 2px;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}
.radio.disabled label,
.checkbox.disabled label {
  color: #ccc;
}
.radio.disabled label::before,
.checkbox.disabled label::before {
  opacity: 0.54;
  border-color: #ccc;
}
.checkbox input:checked + label::before {
  border-color: #9575cd;
  background-color: #9575cd;
}
.checkbox input:checked + label::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Pro";
  font-size: 13px;
  color: #fff;
  top: 0;
  right: 1px;
  border-color: transparent;
  background-color: transparent;
}
.checkbox label::before {
  border-radius: 2px;
}
.btn-purple:hover {
    color: #fff;
    background-color: #9575cd;
    border-color: #9575cd;
}
.btn-purple {
    color: #fff;
    background-color: rebeccapurple;
    border-color: #9575cd;
    color: white !important;
}
.btn-danger {
    color: #fff;
    background-color: orangered;
    border-color: crimson;
}
.btn-danger:hover {
    color: #fff;
    background-color: #ff8700;
    border-color: #f96d06;
}
.btn-success:hover {

    color: #fff;
    background-color: #49ce0e;
    border-color: teal;

}
.btn-success {

    color: #fff;
    background-color: #0ebd1c;
    border-color: #398439;

}
.bnk-logo {
    max-width: 64px;
    height: auto;
}
.banks {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #f2f2f2;
    border-radius: 7px;
    padding: 2rem .5rem;
    margin-top: 1rem;
}
.banks .radio label {
    display: flex;
    flex-direction: column;
}
.error-input {
  border-color: orangered;
}
.tab-pane p , .tab-pane h3 , .tab-pane h4 ,.tab-pane h5, fieldset{
text-align: right;
}
a[role=tab]::after{
background-color: transparent!important;
}
