@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('fonts/IRANSansWeb_Bold.woff') format('woff');   /* license by bankwp.com */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('fonts/IRANSansWeb_Medium.woff') format('woff');   /* license by bankwp.com */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/IRANSansWeb_Light.woff') format('woff');   /* license by bankwp.com */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src:url('fonts/IRANSansWeb_UltraLight.woff') format('woff');   /* license by bankwp.com */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/IRANSansWeb.woff') format('woff');   /* license by bankwp.com */
}
.ihc-dashboard-wrap .ihc-admin-header .ihc-top-menu-section .ihc-dashboard-menu .ihc-page-title{
	font-family: IRANSans !important;
	font-size: 13px !important;
}
.iump-payment-box.paypal-active{
	background-color:#ffd048 !important;
}

.iump-wrapper .ihc-admin-tables thead th, .iump-wrapper .ihc-admin-tables tfoot th, 
.wrap .widget-liquid-right #widgets-right .widgets-holder-wrap #sidebar-active #widget-mycred-hook_ihc_mycred .widget-inside h2, 
.iump-memberslist-box, 
.iump-switch-field, 
.ihc-magic-box-wrap .ihc-magic-feature .ihc-magic-box-desc, .ihc-magic-box-wrap .ihc-magic-feature .ihc-magic-box-title, 
.ihc-magic-box-wrap .ihc-magic-feature, 
.ihc-top-message, .ihc-memberslist-fields, .ihc-error-global-dashboard-message, #ihc_drip_content_empty_meta_box, .ihc-meta-drip-subtitle, .ihc-coupon-box-link, .ihc-coupon-box-bottom, .ihc-coupon-box-title, .ihc-coupon-box-wrap, .iump-sm-box-bottom, .iump-sm-box-title, .iump-sm-box, .ihc-special-button, .iump-payment-box-bottom, .iump-payment-box-title, .iump-payment-box-title, .iump-payment-box, .iump-special-line, .iump-register-select-template, .iump-page-title, .iump-labels-onbutton, .iump-labels-special, .ihc-dashboard-top-box h4, .ihc-dashboard-title, .indeed-add-new-like-wp, i.mce-i-ihc_btn_forms:after, i.mce-i-ihc_btn_locker:after, .ihc-stuffbox h3, .ihc-popup-shortcodevalue, .ihc-popup-wrapp .ihc-the-popup, .ihc-dashboard-wrap th, .ihc-dashboard-wrap .ihc-stuffbox h3{
font-family: IRANSans !important;
}
.ihc-ap-theme-1 .ihc-ap-menu .ihc-ap-menu-item a {
    padding-right: 17px;
    padding-left: 19px;
}

.ihc-ap-theme-1 .ihc-ap-menu .ihc-ap-menu-item .fa-ihc {
    padding-left: 8px;
    padding-right: 0;
}
.iump-subscription-page-top .iump-subscription-page-top-title {
    text-align: right;
}

.iump-form-line-register .iump-form-checkbox, .iump-form-line-register .iump-form-radiobox, .iump-form-line-register .iump-form-paybox {
    margin-left: 15px;
    margin-right: 0;
}

.iump-form-line-register .iump-form-checkbox input, .iump-form-line-register .iump-form-radiobox input, .iump-form-line-register .iump-form-paybox input {
    margin-left: 5px;
    margin-right: 0;
}
.ihc-register-14 {
	font-family: IRANSans; 
}
.ihc-register-14 .iump-labels-register {
	font-family: IRANSans; 
}    
.ihc_level_template_8 .ihc-level-item-link {
	font-family: IRANSans; 
}    
.ihc_level_template_9 .ihc-level-item-title {
	font-family: IRANSans; 
}    
.ihc_level_template_9 .ihc-level-item-price {
	font-family: IRANSans; 
}    
.ihc_level_template_9 .ihc-level-item-link {
	font-family: IRANSans; 
}    
.iump-user-page-mess {
	font-family: IRANSans; 
}    
.ihc-ap-theme-1 .iump-account-content-title {
	font-family: IRANSans; 
}    
.ihc-ap-theme-1 .ihc-account-tranz-list {
	font-family: IRANSans; 
}    
.ihc-ap-theme-1 .ihc-account-tranz-list td .ihc-level-name {
	font-family: IRANSans; 
}    
.ihc-ap-theme-2 .ihc-account-tranz-list {
	font-family: IRANSans; 
}    
.ihc-ap-theme-2 .ihc-account-tranz-list td .ihc-level-name {
	font-family: IRANSans; 
}    
.iump-cancel-subscription-button {
	font-family: IRANSans; 
}    
.iump-renew-subscription-button {
	font-family: IRANSans; 
}    
.iump-delete-subscription-button ,.ihc-additional-message, .ihc-content-oswald {
	font-family: IRANSans;
}