@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('fonts/IRANSansWeb_Bold.woff') format('woff');   /* license by bankwp.com */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('fonts/IRANSansWeb_Medium.woff') format('woff');   /* license by bankwp.com */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/IRANSansWeb_Light.woff') format('woff');   /* license by bankwp.com */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src:url('fonts/IRANSansWeb_UltraLight.woff') format('woff');   /* license by bankwp.com */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/IRANSansWeb.woff') format('woff');   /* license by bankwp.com */
}
.ihc-login-template-2 .ihc-sm-wrapp-fe{
	text-align: right !important;
}
.ihc-login-template-2 .impu-form-line-fr{
  text-align: right !important;
}
.ihc-login-template-2 .impu-form-line-fr .impu-form-label-fr{
	text-align: right !important;
}
/*Login Template 3*/
.ihc-login-template-3{
	font-family: IRANSans !important;
}
.ihc-login-template-3 .impu-form-line-fr{
  text-align: right !important;
}
.ihc-login-template-3 .impu-form-line-fr .impu-form-label-fr{
	text-align: right !important;
}
.ihc-login-template-3 .impu-remember-wrapper{
	text-align: right !important;
	font-family: IRANSans !important;
	float:  right;
	margin-left:  3px;
	margin-right:  0px;
	padding-right:  15px;
	padding-left:  0px;
}

.ihc-login-template-4{
	font-family: IRANSans !important;
}
.ihc-login-template-4 .impu-form-line-fr{
  text-align: right !important;
}
.ihc-login-template-4 .impu-form-line-fr .impu-form-label-fr{
	text-align: right !important;
}
.ihc-login-template-5{
	font-family: IRANSans !important;
}
.ihc-login-template-5 .ihc-sm-wrapp-fe{
	text-align: right !important;
}
.ihc-login-template-5 .impu-form-line-fr{
  text-align: right !important;
}

.ihc-login-template-5 .impu-form-line-fr .impu-form-label-fr{
	text-align: right !important;
}
.ihc-login-template-5 .impu-remember-wrapper{
	text-align: right !important;
}
.ihc-login-template-5 .impu-form-links{
	text-align: right !important;
}
.ihc-login-template-6{
	font-family: IRANSans !important;
}
.ihc-login-template-6 .impu-form-line-fr{
  text-align: right !important;
}
.ihc-login-template-6 .impu-form-line-fr .impu-form-label-fr{
	text-align: right !important;
}
.ihc-login-template-6 .impu-remember-wrapper{
	text-align: right !important;
}
.ihc-login-template-7{
	font-family: IRANSans !important;
}
.ihc-login-template-7 .ihc-sm-wrapp-fe{
	text-align: right !important;
}
.ihc-login-template-7 .impu-form-line-fr{
  text-align:  right;
  padding-left: 15px !important;
  padding-right:  0px !important;
}
.ihc-login-template-7 .impu-form-line-fr .impu-form-label-fr{
	text-align: right !important;
}
.ihc-login-template-7 .impu-remember-wrapper{
	text-align: right !important;
}
.ihc-login-template-7 .impu-form-links{
	text-align: right !important;
}
.ihc-login-template-7 .impu-temp5-row-left {
    float:  right;
}

.ihc-login-template-7 .impu-form-submit {
    float:  left;
    margin-left:  15px;
    margin-right:  0;
}

.ihc-login-template-7 .impu-form-links a {
    padding-right:  0px;
    padding-left:  10px;
}
/*Login Template 8*/
.ihc-login-template-8{
	font-family: IRANSans !important;
}
.ihc-login-template-8 .impu-form-line-fr{
  text-align: right !important;
}
.ihc-login-template-8 .impu-form-line-fr .impu-form-label-fr{
	text-align: right !important;
}
.ihc-login-template-8 .impu-form-links a{
	font-family: IRANSans !important;
}
.ihc-login-template-9{
	font-family: IRANSans !important;
}
.ihc-login-template-9 .impu-form-line-fr{
  text-align: right !important;
}
.ihc-login-template-9 .impu-form-line-fr .impu-form-label-fr{
	text-align: right !important;
}
.ihc-login-template-10{
	font-family: IRANSans !important;
}
.ihc-login-template-10 .impu-form-line-fr{
  text-align: right !important;
}
.ihc-login-template-10 .impu-form-line-fr .impu-form-label-fr{
	text-align: right !important;
}
.ihc-login-template-10 .impu-form-line-fr input[type=text], .ihc-login-template-10 .impu-form-line-fr input[type=password]{
	font-family: IRANSans !important;
}
.ihc-login-template-10 .impu-remember-wrapper{
	text-align: right !important;
	margin-left: 3px;
	margin-right: 0;
	padding-right: 15px;
	padding-left: 0;
	float: right;
}
.ihc-login-template-10 .impu-form-submit input{
	font-family: IRANSans !important;
}
.ihc-register-2{
	font-family: IRANSans !important;
}
.ihc-register-2 .iump-labels-register{
	text-align: right !important;
}
.ihc-register-3{
	font-family: IRANSans !important;
  /* added by ehsan   */
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  border-top: 7px solid #49c5b6;

}
.ihc-register-3 .ihc-sm-wrapp-fe{
	text-align: right !important;
}
.ihc-register-3 .iump-labels-register{
	text-align: right !important;
}
.ihc-register-3 .iump-form-line-register input[type=text], .ihc-register-3 .iump-form-line-register input[type=password], .ihc-register-3 .iump-form-line-register input[type=number],
 .ihc-register-3 .iump-form-line-register textarea, .ihc-register-3 .iump-form-line-register select, .ihc-register-3 .iump-form-line-register .select2-selection{
	text-align: right !important;
	 font-family: IRANSans !important;
}
 .ihc-register-3 .iump-form-sublabel, .ihc-register-3 .ihc-file-upload-button{
	/* text-align: right !important; */
	text-align: center !important;
}
.ihc-register-3 .iump-form-checkbox-wrapper,.ihc-register-3  .iump-form-radiobox-wrapper{
	text-align: right !important;
}
.ihc-register-3 .ihc-tos-wrap{
	text-align: right !important;
}
.ihc-register-3 .iump-submit-form input{
	font-family: IRANSans !important;
/* added by ehsan */
  background: none repeat scroll 0 0 #49c5b6 !important;
  border-color: #49c5b6 !important;
	}
.ihc-register-3 .iump-submit-form input:hover {
  background: none repeat scroll 0 0 #57d6c6 !important;
}

.iump-form-line-register .iump-form-upload_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ihc-member-photo {
  margin-left: auto;
  margin-right: auto;
}
/* //end ehsan */

.ihc-register-4{
	font-family: IRANSans !important;
}
.ihc-register-4 .iump-labels-register{
	text-align: right !important;
}
.ihc-register-4 .iump-form-line-register{
  text-align: right !important;
}
.ihc-register-4 .ihc-tos-wrap{
	text-align: right !important;
}
.ihc-register-5{
	font-family: IRANSans !important;
}
.ihc-register-5 .iump-labels-register{
	text-align: right !important;
}
.ihc-register-5 .iump-submit-form{
	text-align: right !important;
}
.ihc-register-6{
	font-family: IRANSans !important;
}
.ihc-register-6 .iump-labels-register{
	text-align: right !important;
}
.ihc-register-6 .iump-submit-form{
	text-align: right !important;
}
.ihc-register-7{
	font-family: IRANSans !important;
}
.ihc-register-7 .iump-labels-register{
	text-align: right !important;
}
.ihc_payment_register_wrapper{
	text-align: right !important;
}
.ihc_payment_details{
	text-align: right !important;
}

.ihc-register-8 .iump-form-line-register{
	font-family: IRANSans !important;
}
.ihc-register-8 .ihc-register-notice{
	text-align: right !important;
}
.ihc-register-8 .ihc-sm-wrapp-fe{
	text-align: right !important;
}
.ihc-register-8 .iump-labels-register{
	text-align: right !important;
	font-family: IRANSans !important;
}

.ihc-register-8 .iump-form-line-register input[type=text], .ihc-register-8 .iump-form-line-register input[type=password], .ihc-register-8 .iump-form-line-register input[type=number],
 .ihc-register-8 .iump-form-line-register textarea, .ihc-register-8 .iump-form-line-register select, .ihc-register-8 .iump-form-line-register .select2-selection{
	font-family: IRANSans !important;
	text-align: right !important;
}
 .ihc-register-8 .iump-form-sublabel, .ihc-register-8 .ihc-file-upload-button{
	text-align: right !important;
}
.ihc-register-8 .iump-form-checkbox-wrapper,.ihc-register-8  .iump-form-radiobox-wrapper{
	text-align: right !important;
}
.ihc-register-8 .ihc-tos-wrap{
	text-align: right !important;
}
.ihc-register-9 .iump-form-line-register{
	font-family: IRANSans !important;
}
.ihc-register-9 .ihc-register-notice{
	text-align: right !important;
}
.ihc-register-9 .ihc-sm-wrapp-fe{
	text-align: right !important;
}
.ihc-register-9 .iump-labels-register{
	text-align: right !important;
	font-family: IRANSans !important;
}
.ihc-register-9 .iump-form-line-register input[type=text], .ihc-register-9 .iump-form-line-register input[type=password], .ihc-register-9 .iump-form-line-register input[type=number],
 .ihc-register-9 .iump-form-line-register textarea, .ihc-register-9 .iump-form-line-register select, .ihc-register-9 .iump-form-line-register .select2-selection{
	font-family: IRANSans !important;
	text-align: right !important;
}
 .ihc-register-9 .iump-form-sublabel, .ihc-register-9 .ihc-register-notice{
	text-align: right !important;
}
.ihc-register-9 .ihc-file-upload-button{
	text-align: right !important;
}
.ihc-register-9 .iump-form-checkbox-wrapper,.ihc-register-9  .iump-form-radiobox-wrapper{
	text-align: right !important;
}

.ihc-register-9 .ihc-tos-wrap{
	text-align: right !important;
}
.ihc-register-9 .iump-submit-form input {
    font-family: IRANSans !important;
}
.ihc-register-10{
	font-family: IRANSans !important;
	text-align: right !important;
}
.ihc-register-10 .iump-labels-register{
	text-align: right !important;
}
.ihc-register-11{
	text-align: right !important;
}
.ihc-register-11 .iump-form-line-register{
	font-family: IRANSans !important;
}
.ihc-register-11 .ihc-register-notice{
	text-align: right !important;
}
.ihc-register-11 .ihc-sm-wrapp-fe{
	text-align: right !important;
}
.ihc-register-11 .iump-labels-register{
	text-align: right !important;
	font-family: IRANSans !important;
}

.ihc-register-11 .iump-form-line-register input[type=text], .ihc-register-11 .iump-form-line-register input[type=password], .ihc-register-11 .iump-form-line-register input[type=number],
 .ihc-register-11 .iump-form-line-register textarea, .ihc-register-11 .iump-form-line-register select, .ihc-register-11 .iump-form-line-register .select2-selection{
	font-family: IRANSans !important;
	text-align: right !important;
}
 .ihc-register-11 .iump-form-sublabel, .ihc-register-11 .ihc-file-upload-button{
	text-align: right !important;
}
.ihc-register-11 .iump-form-checkbox-wrapper,.ihc-register-11  .iump-form-radiobox-wrapper{
	text-align: right !important;
}
.ihc-register-11 .ihc-tos-wrap{
	text-align: right !important;
}
.ihc-register-12{
	text-align: right !important;
}
.ihc-register-12 .iump-form-line-register{
	font-family: IRANSans !important;
}
.ihc-register-12 .ihc-register-notice{
	text-align: right !important;
}
.ihc-register-12 .ihc-sm-wrapp-fe{
	text-align: right !important;
}
.ihc-register-12 .iump-labels-register{
	text-align: right !important;
	font-family: IRANSans !important;
}
.ihc-register-12 .iump-form-line-register input[type=text], .ihc-register-12 .iump-form-line-register input[type=password], .ihc-register-12 .iump-form-line-register input[type=number],
 .ihc-register-12 .iump-form-line-register textarea, .ihc-register-12 .iump-form-line-register select, .ihc-register-12 .iump-form-line-register .select2-selection{
	font-family: IRANSans !important;
	text-align: right !important;
}
 .ihc-register-12 .iump-form-sublabel, .ihc-register-12 .ihc-register-notice{
	text-align: right !important;
}
.ihc-register-12 .ihc-file-upload-button{
	text-align: right !important;
}
.ihc-register-12 .iump-form-checkbox-wrapper,.ihc-register-12  .iump-form-radiobox-wrapper{
	text-align: right !important;
}
.ihc-register-12 .ihc-tos-wrap{
	text-align: right !important;
}
.ihc-register-13{
	font-family: IRANSans !important;
}
.ihc-register-13 .iump-labels-register{
	text-align: right !important;
}
.ihc_locker_2 .lock_content{
	font-family:IRANSans !important;
}
.ihc_locker_2 .lock_content h2{
	font-family:IRANSans !important;
}
.ihc_locker_3 .lock_content{
	font-family:IRANSans !important;
}
.ihc_locker_3 .lock_content h2{
	font-family:IRANSans !important;
}
.ihc_locker_4 .lock_content h2{
	font-family:IRANSans !important;
}
.ihc_locker_4 .lock_content{
	font-family:IRANSans !important;
}
.ihc_locker_5 .lock_content{
	font-family: IRANSans !important;
}
.ihc_locker_5 .lock_content h2{
	font-family:IRANSans !important;
}
.ihc_locker_6 .lock_content{
	font-family: IRANSans !important;
}
.ihc_locker_6 .lock_content h2{
	font-family:IRANSans !important;
}
.ihc_locker_7 .lock_content{
	font-family: IRANSans !important;
}
.ihc_locker_7 .lock_content h2{
	font-family:IRANSans !important;
}
.ihc_locker_8 .lock_content{
	font-family:IRANSans !important;
}
.ihc_locker_8 .lock_content h2{
	font-family:IRANSans !important;
}
.ihc_level_template_1 .ihc-level-item-title{
	font-family: IRANSans !important;
}
.ihc_level_template_1 .ihc-level-item-content{
	text-align: right !important;
}
.ihc_level_template_1 .ihc-level-item-price{
	font-family: IRANSans !important;
}
.ihc_level_template_2 .ihc-level-item-title{
	font-family: IRANSans !important;
}
.ihc_level_template_2 .ihc-level-item-content{
	text-align: right !important;
}
.ihc_level_template_2 .ihc-level-item-price{
	font-family: IRANSans !important;
}
.ihc_level_template_3 .ihc-level-item-title{
	font-family: IRANSans !important;
}
.ihc_level_template_3 .ihc-level-item-content{
    text-align: right !important;
}
.ihc_level_template_3 .ihc-level-item-price{
	font-family: IRANSans !important;
}
.ihc_level_template_4 .ihc-level-item-title{
	font-family: IRANSans !important;
	text-align: center !important;
}
.ihc_level_template_4 .ihc-level-item-content{
	text-align: right !important;
}
.ihc_level_template_4 .ihc-level-item-bottom{
	text-align:right;
}
.ihc_level_template_4 .ihc-level-item-price{
	font-family: IRANSans !important;

}
.ihc_level_template_5 .ihc-level-item-title{
	font-family: IRANSans !important;
}
.ihc_level_template_5 .ihc-level-item-content{
	text-align: right !important;
}
.ihc_level_template_5 .ihc-level-item-price{
	font-family: IRANSans !important;
}
.ihc_level_template_5 .ihc-level-item-link{
    font-family: IRANSans !important;
    font-weight: 500;
    line-height: 20px;
}
.ihc_level_template_6 .ihc-level-item-title{
	font-family: IRANSans !important;

}
.ihc_level_template_6 .ihc-level-item-content{
	text-align: right !important;
}
.ihc_level_template_6 .ihc-level-item-price{
	font-family: IRANSans !important;
	font-size: 35px !important;
}
.ihc_level_template_6 .ihc-level-item-link{
    font-family: IRANSans !important;
}
.ihc_level_template_7 .ihc-level-item-title{
	font-family: IRANSans !important;
}
.ihc_level_template_7 .ihc-level-item-content{
	text-align: right !important;
}
.ihc_level_template_7 .ihc-level-item-price{
	font-family: IRANSans !important;
    font-size: 25px !important;
}
.ihc_level_template_7 .ihc-level-item-link{
    font-family: IRANSans !important;
}
.iump-user-page-mess-special{
	font-family: IRANSans !important;
}
.iump-user-page-box .iump-user-page-box-title{
	font-family: IRANSans !important;
}
.ihc-ap-theme-1 .ihc-ap-menu .ihc-ap-menu-item{
    float: right;
    padding-right: 0px;
    font-family: IRANSans !important;
}
.ihc-ap-theme-1 .iump-account-content-title{
    font-family: IRANSans !important;
}
.ihc-ap-theme-1 .ihc-account-subscr-list thead{
    font-family: IRANSans !important;
}
.ihc-ap-theme-1 .ihc-account-subscr-list .ihc-level-name{
	font-family: IRANSans !important;
}
.ihc-ap-theme-1 .ihc_account_level_status{
	font-family: IRANSans !important;
}
.ihc-ap-theme-1 .ihc-ap-wrap{
    font-family: IRANSans !important;
}
.ihc-ap-theme-2 .ihc-ap-menu .ihc-ap-menu-item{
    font-family: IRANSans !important;
}
.ihc-ap-theme-2 .iump-account-content-title{
    font-family: IRANSans !important;
}
.ihc-ap-theme-2 .ihc-account-subscr-list thead{
    font-family: IRANSans !important;
}
.ihc-ap-theme-2 .ihc-account-subscr-list .ihc-level-name{
	font-family: IRANSans !important;
}
.ihc-ap-theme-2 .ihc_account_level_status{
	font-family: IRANSans !important;
}
.ihc-ap-theme-2 .ihc-ap-wrap{
    font-family: IRANSans !important;
}
.ihc-user-page-top-ap-wrapper .ihc-left-side{
	float:right;
}
.ihc-user-page-top-ap-wrapper .ihc-middle-side{
	float: right;
}
.ihc-user-page-top-ap-wrapper .ihc-stats-label{
	font-family: IRANSans !important;
}
.ihc-user-page-top-ap-wrapper .ihc-stats-content{
	    font-family:IRANSans !important;
}

.ihc-user-page-top-ap-wrapper .ihc-stats-label{
	font-family: IRANSans !important;
}
.ihc-user-page-top-ap-wrapper .ihc-stats-content{
 font-family: IRANSans !important;
}
.iump-list-posts-template-2 .iump-list-access-posts-item-wrapp .iump-list-access-posts-the-feature-image{
	text-align: right !important;
}

.iump-view-user-wrapp-temp1{
	font-family:IRANSans !important;
}
.iump-view-user-wrapp-temp1 .iump-user-fields-list{
	font-family:IRANSans !important;
}
.iump-view-user-wrapp-temp1 .iump-additional-content{
	font-family:IRANSans !important;
}
.iump-view-user-wrapp-temp2{
	font-family:IRANSans !important;
}
.iump-view-user-wrapp-temp2 .iump-user-fields-list{
	font-family:IRANSans !important;
}
.iump-view-user-wrapp-temp2 .iump-additional-content{
	font-family:IRANSans !important;
}

.ihc-user-page-top-ap-wrapper .ihc-top-level-box {
    font-family:  IRANSans;
}
.ihc-login-template-10  .fa-ihc {
    right: 0;
    left: auto;
}

.ihc-login-template-10 .impu-form-line-fr input[type=text], .ihc-login-template-10 .impu-form-line-fr input[type=password] {
    padding-right: 60px !important;
    padding-left: 0 !important;
}

.ihc-login-notice {
    left: 0;
    right: auto;
}

.ihc-login-notice:before {
    right: 50%;
    left: auto !important;
    margin-right: -5px;
    margin-left: 0;
}

.ihc-login-template-10 .impu-form-label-remember {
    padding-right: 3px;
    padding-left: 0;
}

.ihc-login-template-10 .impu-form-links-pass {
    float: left;
    padding-left: 15px;
    padding-right: 0;
}
.iump-level-details-register-name {
    float: right;
    font-family: IRANSans !important;
}

.iump-level-details-register-price {
    float: left;
    font-family: IRANSans !important;
}

.iump-level-details-register .ihc-order-title {
    text-align: right;
}
.iump-level-details-register-name {
    float: right;
    font-family: IRANSans !important;
}

.iump-level-details-register-price {
    float: left;
    font-family: IRANSans !important;
}

.iump-level-details-register .ihc-order-title {
    text-align: right;
}

.ihc-register-9 .ihc-register-notice, .ihc-register-9 #ihc_coupon_code_check_div_msg {
    left: 0;
    right: auto;
    font-family: IRANSans;
}
.ihc-ap-theme-2 .ihc-ap-menu .ihc-ap-menu-item {
    float:  right;
}

.ihc-ap-theme-2 .ihc-ap-menu .ihc-ap-menu-item .fa-ihc {
    padding-left:  8px;
    padding-right:  0;
}
.ihc-ap-theme-3 .ihc-ap-menu .ihc-ap-menu-item {
    float:  right;
}

.ihc-ap-theme-3 .ihc-ap-menu .ihc-ap-menu-item a {
    padding-right: 17px;
    padding-left: 19px;
}

.ihc-ap-theme-3 .ihc-ap-menu .ihc-ap-menu-item .fa-ihc {
    padding-left:  8px;
    padding-right:  0;
}

.ihc-ap-theme-3 .ihc-ap-menu .ihc-ap-menu-item {
    font-family:  IRANSans !important;
}

.ihc-ap-theme-1 .ihc-ap-wrap, .ihc-ap-theme-2 .ihc-ap-wrap, .ihc-ap-theme-3 .ihc-ap-wrap, .ihc-ap-theme-4 .ihc-ap-wrap {
    font-family:  IRANSans;
}
.ihc-ap-theme-4 .ihc-ap-menu .ihc-ap-menu-item {
    float:  right;
    font-family:  IRANSans;
}

.ihc-ap-theme-4 .ihc-ap-menu .ihc-ap-menu-item .fa-ihc {
    padding-left:  8px;
    padding-right:  0;
}
.ihc-register-14 .iump-labels-register {
    text-align:  right;
    padding-left:  10px;
    padding-right:  0;
}
.ihc-register-3 {
    font-family:  IRANSans;
}

.ihc-register-3 .iump-form-line-register, .ihc-register-3 .iump-form-line-register input {
    font-family: IRANSans !important;
}

.ihc-register-3 .iump-form-line-register input[type=text], .ihc-register-3 .iump-form-line-register input[type=password], .ihc-register-3 .iump-form-line-register input[type=number], .ihc-register-3 .iump-form-line-register textarea, .ihc-register-3 .iump-form-line-register select, .ihc-register-3 .iump-form-line-register .select2-selection {
    font-family:  IRANSans !important;
}

.ihc-register-3 .iump-form-line-register input::placeholder {
    font-family:  IRANSans;
}
.ihc-login-template-13 .impu-form-line-fr {
    text-align:  right;
}

.ihc-login-template-13 .impu-form-line-fr .impu-form-label-fr {
    text-align:  right;
    font-family:  IRANSans;
}

.ihc-login-template-13 .impu-remember-wrapper {
    text-align:  right;
    font-family:  IRANSans;
}

.ihc-login-template-13 {
    font-family:  IRANSans;
}

.ihc-login-template-13 .impu-form-submit input, .ihc-login-template-13 .ihc-register-link {
    font-family:  IRANSans;
}

.ihc-login-template-13 .impu-temp5-row-left {
    float:  right;
}

.ihc-login-template-13 .impu-temp5-row-right {
    float:  left;
}
.ihc-login-template-12 .impu-form-line-fr input[type=text]::placeholder, .ihc-login-template-12 .impu-form-line-fr input[type=password]::placeholder {
    font-family:  IRANSans;
}

.ihc-login-template-12 {
    font-family:  IRANSans;
}

.ihc-login-template-12 .impu-form-submit input {
    font-family:  IRANSans;
}

.ihc-login-template-12 .impu-remember-wrapper {
    text-align:  right;
    float:  right;
    padding-right:  15px;
    padding-left:  0;
}

.ihc-login-template-12 .impu-form-links-pass {
    float:  left;
    padding-left:  15px;
    padding-right:  0;
}

.ihc-login-template-12 .fa-ihc {
    right:  0px;
    left:  auto;
}

.ihc-login-template-12 .impu-form-line-fr input[type=text], .ihc-login-template-12 .impu-form-line-fr input[type=password] {
    padding-right: 45px !important;
    padding-left:  0 !important;
}
.ihc-login-template-11 .impu-form-line-fr input[type=text], .ihc-login-template-11 .impu-form-line-fr input[type=password] {
    padding-right: 40px !important;
    padding-left: 0 !important;
}

.ihc-login-template-11 .fa-ihc {
    right:  15px;
    left:  auto;
}

.ihc-login-template-11 {
    font-family:  IRANSans;
}

.ihc-login-template-11 input::placeholder {
    font-family:  IRANSans;
}

.ihc-login-template-11 .impu-remember-wrapper {
    float:  right;
    text-align:  right;
    padding-right:  15px;
    padding-left:  0;
}

.ihc-login-template-11 .impu-form-links-pass {
    float:  left;
    padding-left:  15px;
    padding-right: 0;
}

.ihc-login-template-11 .impu-form-submit input {
    font-family:  IRANSans;
}
.ihc-login-template-10 input::placeholder {
    font-family:  IRANSans;
}
.ihc-login-template-9 .impu-form-links-pass {
    float:  left;
    padding-left:  15px;
    padding-right:  0;
}

.ihc-login-template-9 .impu-remember-wrapper {
    float:  right;
    margin-left:  3px;
    margin-right:  0px;
    padding-left:  0px;
    padding-right:  15px;
}

.ihc-login-template-9 .impu-form-submit input {
    font-family:  IRANSans;
}

.ihc-login-template-9 input::placeholder {
    font-family:  IRANSans;
}

.ihc-login-template-9 .fa-ihc {
    right: 15px;
    left:  auto;
}

.ihc-login-template-9 .impu-form-line-fr input[type=text], .ihc-login-template-9 .impu-form-line-fr input[type=password] {
    padding-right:  40px !important;
    padding-left:  0px !important;
}
.ihc-login-template-8 .fa-ihc {
    right:  9px;
    left:  auto;
}

.ihc-login-template-8 .impu-form-line-fr input[type=text], .ihc-login-template-8 .impu-form-line-fr input[type=password] {
    padding-left: 0px !important;
    padding-right:  40px !important;
}

.ihc-login-template-8 input::placeholder {font-family:  IRANSans;}

.ihc-login-template-8 .impu-form-submit input {
    font-family:  IRANSans;
}

.ihc-login-template-8 .impu-form-links a {
    border-left: 1px solid #999;
    border-right: none;
}

.ihc-login-template-8 .impu-form-links div:nth-child(even) a {
    border-left:  none;
    border-right:  1px solid #999;
}
.ihc-login-template-6 .impu-form-links div:nth-child(even) a {
    border-left:  none;
    border-right:  1px solid #999;
    padding-left:  0px;
    padding-right:  10px;
}

.ihc-login-template-6 .impu-form-links {
    text-align: right;
}

.ihc-login-template-6 .impu-form-links a {
    border-right: none;
    border-left: 1px solid #999;
    padding-left: 10px;
    padding-right:  0px;
}

.ihc-login-template-6 .impu-form-submit input {
    font-family:  IRANSans;
}
.ihc-login-template-5 .impu-form-submit input {
    font-family:  IRANSans;
}

.ihc-login-template-5 .impu-temp5-row-left {
    float:  right;
}

.ihc-login-template-5 .impu-form-links a {
    padding-right:  0px;
    padding-left:  10px;
}

.ihc-login-template-5 .impu-form-submit {
    float:  left;
}
.ihc-login-template-4, .ihc-login-template-4 input::placeholder {
    font-family:  IRANSans;
}

.ihc-login-template-4 .impu-form-submit input {
    font-family:  IRANSans;
}

.ihc-login-template-4 .impu-form-links a {
    border-left: 1px solid #999;
    border-right:  none;
}

.ihc-login-template-4 .impu-form-links div:nth-child(even) a {
    border-left:  none;
    border-right: 1px solid #999;
}

.ihc-login-template-4 .impu-form-line-fr input[type=text], .ihc-login-template-4 .impu-form-line-fr input[type=password] {
    padding-left: 0px !important;
    padding-right: 30px !important;
}

.ihc-login-template-4 .fa-ihc {
    left: auto;
    right:  9px;
}
.ihc-login-template-3 input::placeholder {
    font-family:  IRANSans;
}

.ihc-login-template-3 .impu-form-submit input {
    font-family:  IRANSans;
}

.ihc-login-template-3 .impu-form-links {
    padding-left: 9px;
    padding-right:  0px;
    float:  left;
    text-align:  left;
}

.ihc-login-template-3 .impu-form-links a {
    border-left: 1px solid #999;
    border-right:  none;
}

.ihc-login-template-3 .impu-form-links div:nth-child(even) a {
    border-right: 1px solid #999;
    border-left:  none;
}
.ihc-login-template-2 {
    font-family:  IRANSans;
}

.ihc-login-template-2 .impu-form-links div {
    padding-right:  0px;
    padding-left:  15px;
}
