/* @import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway); */
@font-face {
  font-family: 'iGlyphicons';
  src: url("../../assets/fonts/glyphicons-regular.eot");
  src: url("../../assets/fonts/glyphicons-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/glyphicons-regular.woff") format("woff"), url("../../assets/fonts/glyphicons-regular.ttf") format("truetype"), url("../../assets/fonts/glyphicons-regular.svg#glyphicons_halflingsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome-imt';
  src: url("../../assets/fonts/fontawesome-webfont.eot?v=3.2.1");
  src: url("../../assets/fonts/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../../assets/fonts/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../../assets/fonts/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../../assets/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ifontello';
  src: url('../../assets/fonts/fontello.eot?99886049');
  src: url('../../assets/fonts/fontello.eot?99886049#iefix') format('embedded-opentype'),
       url('../../assets/fonts/fontello.woff?99886049') format('woff'),
       url('../../assets/fonts/fontello.ttf?99886049') format('truetype'),
       url('../../assets/fonts/fontello.svg?99886049#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ihc-wrapp-list-users  [class^="icont-"],
.ihc-wrapp-list-users  [class*=" icont-"] {
  font-family: FontAwesome-imt !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: inherit !important;
  -webkit-font-smoothing: antialiased !important;
  *margin-right: .3em !important;
}
.ihc-wrapp-list-users  [class^="icont-"]:before,
.ihc-wrapp-list-users  [class*=" icont-"]:before {
  text-decoration: inherit !important;
  display: inline-block !important;
  speak: none !important;
}
.ihc-wrapp-list-users  [class^="glyphicont-"],
.ihc-wrapp-list-users  [class*=" glyphicont-"] {
  font-family: 'iGlyphicons' !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: inherit !important;
  -webkit-font-smoothing: antialiased !important;
  /* sprites.less reset */
  display: inline !important;
  width: auto;
  height: auto;
  line-height: 15px;
  vertical-align: middle;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
.ihc-wrapp-list-users  [class^="glyphicont-"]:before,
.ihc-wrapp-list-users  [class*=" glyphicont-"]:before {
  text-decoration: inherit !important;
  display: inline-block !important;
  speak: none !important;
}
.ihc-theme_9 .glyphicont-globe:before {
content: "\e341";
}
.ihc-theme_9 .glyphicont-envelope:before {
content: "\2709";
}
.ihc-theme_9 .icont-phone:before {
content: "\f095";
}
.ihc-theme_9 .ihc-wrapp-list-users  ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.ihc-theme_9 .ihc-wrapp-list-users  ul li{
box-sizing: border-box;
color: rgb(136, 136, 136);
display: inline-block;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
font-weight: 300;
line-height: 21px;
min-height: 1px;
padding:5px 10px;
position: relative;
width: 292px;
vertical-align: top;
text-align:left;
}
/* IMAGE */
.ihc-theme_9 .member-img{
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.2s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-in-out;
border-bottom-color: rgb(136, 136, 136);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(136, 136, 136);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(136, 136, 136);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(136, 136, 136);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(136, 136, 136);
display: block;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
font-weight: 300;
height: auto;
line-height: 21px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
transition-delay: 0s;
transition-duration: 0.2s;
transition-property: all;
transition-timing-function: ease-in-out;
transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
width: 100%;
overflow:hidden;
border-radius:50%;
}
.ihc-theme_9 .member-img img{
border-bottom-color: rgb(136, 136, 136);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(136, 136, 136);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(136, 136, 136);
border-right-style: none;
border-right-width: 2px;
border-top-color: rgb(136, 136, 136);
border-top-style: none;
border-top-width: 0px;
display: block;
max-width: 100%;
width: 100%;
margin:0 auto;
border-radius:50%;
-webkit-filter: grayscale(0%);
}
.ihc-theme_9 .ihc-wrapp-list-users  ul li:hover .member-img img{
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
filter: gray;
-webkit-filter: grayscale(30%);
}
.ihc-theme_9 .member-content {
position: relative;
padding: 10px 3px;
}
.ihc-theme_9 .member-name{
color: #2B2B2B;
font: normal 18px/22px Raleway;
}
.ihc-theme_9 .member-username {
font-style: normal;
text-transform: uppercase !important;
display: block;
padding-bottom: 10px;
margin-bottom: 0;
margin-top: 0.4em;
font: normal 11px/12px Droid Sans;
color: #768088;
}
.ihc-theme_9 .member-desc{
font-size: 85%;
margin: 5px 0;
line-height: 15px;
}
.ihc-theme_9 .member-email, .ihc-theme_9 .member-web, .ihc-theme_9 .member-phone{
	color: #898989;
	font-family: 'Droid Sans';
	font-size: 13px;
	line-height: 20px;
	font-weight:bold;
}
.ihc-theme_9 .member-extra-fields{
font-size:11px;
}
.ihc-theme_9 .member-email a, .ihc-theme_9 .member-web a, .ihc-theme_9 .member-phone a{
	color:#00afd1;
	text-decoration:none;
}
.ihc-theme_9 .member-location{
	font-size:10px;
	color: #898989;
	font-family: 'Droid Sans';
	font-style:italic;
}

.ihc-theme_9 .member-social{
	width: auto;
height:100%;
margin: 0;
margin:10px 0;
text-align: center;
transition: 0.6s;
-webkit-transition: 0.6s;
-moz-transition: 0.6s;
-o-transition: 0.6s;
-ms-transition: 0.6s;
border-radius:50%;
}
.ihc-theme_9 .member-social a {
margin-left: 2px;
margin-right: 2px;
text-decoration: none;
}
.ihc-theme_9 .member-social a i {
color: #fff;
width: 20px;
height: 20px;
line-height: 20px;
text-align: center;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-o-border-radius: 2px;
display: inline-block;
transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
font-size: 1em;
float:none;
}
.ihc-theme_9 .member-social a i {
background-color: transparent;
color: #fff;
opacity:0.6;
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
filter: gray;
-webkit-filter: grayscale(80%);
border-radius:20%;
}
.ihc-theme_9 .member-social a:hover i {
opacity:1;
filter: none;
-webkit-filter: grayscale(0%);
}
.ihc-theme_9 .member-social [class^="icont-"]:before, .ihc-theme_9 .member-social [class*=" icont-"]:before {
font-family: "ifontello";
font-style: normal;
font-weight: normal;
speak: none;
display: inline-block;
text-decoration: inherit;
width: 1em;
margin-right: .2em;
text-align: center;
font-variant: normal;
text-transform: none;
line-height: 1em;
margin-left: .2em;
font-size: 14px;
}
.ihc-theme_9 .member-social .icont-facebook:before {
content: '\ea8a';
}
.ihc-theme_9 .member-social .icont-twitter-2:before {
content: '\ec7b';
}
.ihc-theme_9 .member-social .icont-linkedin:before {
content: '\ea92';
}
.ihc-theme_9 .member-social .icont-gplus:before {
content: '\ec69';
}
.ihc-theme_9 .member-social .icont-instagramm:before {
content: '\ec6b';
}
.ihc-theme_9 .member-social a.facebook i {
	background-color: #507CBE;
}
.ihc-theme_9 .member-social a.twitter i {
	background-color: #63CDF1;
}
.ihc-theme_9 .member-social a.gplus i {
	background-color: #F16261;
}
.ihc-theme_9 .member-social a.dribbble i {
background-color: #E46387;
}
.ihc-theme_9 .member-social a.linkedin i {
background-color: #90CADD;
}
.ihc-theme_9 .member-social a.flickr i {
	background-color: #E474AF;
}
.ihc-theme_9 .member-social a.instagramm i {
	background-color: #4D4F54;
}
.ihc-theme_9 .member-social a.Vk i {
	background-color: #45668e;
}
.ihc-theme_9 .member-social a.Tumblr i {
	background-color: #32506d;
}
